<a href="https://colab.research.google.com/github/devindrajewth/CASE_2/blob/main/CASE_2_JEWTH%2C_DEVINDRA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**CASE 2- JEWTH, DEVINDRA**

#*Libraries*

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

#*Data*

In [2]:
B_and_L_link="https://raw.githubusercontent.com/devindrajewth/CASE_2/main/Average_Balance_%26_Longevity.csv"
balance_and_longevity= pd.read_csv(B_and_L_link)
balance_and_longevity

     Account  Average Account Balance  Years as Customer
0       1000                     8000               0.85
1       1001                    13000              13.13
2       1002                    30000               4.21
3       1003                    14833               6.41
4       1004                    16851              14.09
..       ...                      ...                ...
195     1195                    11003               7.04
196     1196                    11444               0.35
197     1197                     9933               3.37
198     1198                     7157               6.61
199     1199                    14819              10.08

[200 rows x 3 columns]

In [3]:
d_to_b_link="https://raw.githubusercontent.com/devindrajewth/CASE_2/main/Distance_to_Each_Branch_.csv"
distance_to_branch= pd.read_csv(d_to_b_link)
distance_to_branch

     Account    Branch  Miles
0       1000  Branch A   6.09
1       1000  Branch B   2.12
2       1000  Branch C   2.85
3       1000  Branch D   1.83
4       1001  Branch A   4.31
..       ...       ...    ...
795     1198  Branch D   1.37
796     1199  Branch A   4.67
797     1199  Branch B   0.21
798     1199  Branch C   2.57
799     1199  Branch D   0.27

[800 rows x 3 columns]

In [4]:
wrangling_pivot= pd.pivot_table(data= distance_to_branch,index= "Account",columns="Branch",values="Miles")
wrangling_pivot

Branch   Branch A  Branch B  Branch C  Branch D
Account
1000         6.09      2.12      2.85      1.83
1001         4.31      0.30      2.66      0.19
1002         3.81      0.98      2.63      3.07
1003         2.73      0.65      0.76      1.70
1004         0.31      4.35      4.78      2.31
...           ...       ...       ...       ...
1195         3.78      2.31      3.08      3.74
1196         6.62      1.43      1.53      1.96
1197         0.86      2.50      4.90      0.31
1198         6.66      1.78      3.67      1.37
1199         4.67      0.21      2.57      0.27

[200 rows x 4 columns]

In [5]:
merged_account_data= pd.merge(balance_and_longevity,wrangling_pivot,on= "Account")

In [6]:
merged_account_data.rename(columns = {"Average Account Balance": "Avg Account Balance ($)","Branch A":"Distance to Branch A (mi)","Branch B":"Distance to Branch B (mi)","Branch C":"Distance to Branch C (mi)","Branch D":"Distance to Branch D (mi)"},inplace=True)
merged_account_data

,Account,Avg Account Balance ($),Years as Customer,Distance to Branch A (mi),Distance to Branch B (mi),Distance to Branch C (mi),Distance to Branch D (mi)
0,1000,8000,0.85,6.09,2.12,2.85,1.83
1,1001,13000,13.13,4.31,0.30,2.66,0.19
2,1002,30000,4.21,3.81,0.98,2.63,3.07
3,1003,14833,6.41,2.73,0.65,0.76,1.70
4,1004,16851,14.09,0.31,4.35,4.78,2.31
...,...,...,...,...,...,...,...
195,1195,11003,7.04,3.78,2.31,3.08,3.74
196,1196,11444,0.35,6.62,1.43,1.53,1.96
197,1197,9933,3.37,0.86,2.50,4.90,0.31
198,1198,7157,6.61,6.66,1.78,3.67,1.37
199,1199,14819,10.08,4.67,0.21,2.57,0.27

#*Assemble Data*

In [7]:
merged_account_data["Account"].is_unique

True

In [8]:
merged_account_df= merged_account_data.set_index("Account")
print(type(merged_account_df))
merged_account_df

<class 'pandas.core.frame.DataFrame'>

,Avg Account Balance ($),Years as Customer,Distance to Branch A (mi),Distance to Branch B (mi),Distance to Branch C (mi),Distance to Branch D (mi)
Account,,,,,,
1000,8000,0.85,6.09,2.12,2.85,1.83
1001,13000,13.13,4.31,0.30,2.66,0.19
1002,30000,4.21,3.81,0.98,2.63,3.07
1003,14833,6.41,2.73,0.65,0.76,1.70
1004,16851,14.09,0.31,4.35,4.78,2.31
...,...,...,...,...,...,...
1195,11003,7.04,3.78,2.31,3.08,3.74
1196,11444,0.35,6.62,1.43,1.53,1.96
1197,9933,3.37,0.86,2.50,4.90,0.31
1198,7157,6.61,6.66,1.78,3.67,1.37
1199,14819,10.08,4.67,0.21,2.57,0.27

In [9]:
dist_A_TO_D= merged_account_df[["Distance to Branch A (mi)","Distance to Branch B (mi)","Distance to Branch C (mi)","Distance to Branch D (mi)"]]
dist_A_TO_D_df= pd.DataFrame(dist_A_TO_D)

In [10]:
min_branch_dist= dist_A_TO_D_df.min(axis=1)
min_branch_dist_df= pd.DataFrame(min_branch_dist)
min_branch_dist_df.rename(columns = {0:"Distance to Closest Branch (mi)"},inplace=True)

In [11]:
#Distance to Each Branch w/Current Closest Branch
merged_min_dist_df= pd.merge(dist_A_TO_D_df,min_branch_dist_df,on="Account")
merged_min_dist_df

,Distance to Branch A (mi),Distance to Branch B (mi),Distance to Branch C (mi),Distance to Branch D (mi),Distance to Closest Branch (mi)
Account,,,,,
1000,6.09,2.12,2.85,1.83,1.83
1001,4.31,0.30,2.66,0.19,0.19
1002,3.81,0.98,2.63,3.07,0.98
1003,2.73,0.65,0.76,1.70,0.65
1004,0.31,4.35,4.78,2.31,0.31
...,...,...,...,...,...
1195,3.78,2.31,3.08,3.74,2.31
1196,6.62,1.43,1.53,1.96,1.43
1197,0.86,2.50,4.90,0.31,0.31
1198,6.66,1.78,3.67,1.37,1.37
1199,4.67,0.21,2.57,0.27,0.21

In [12]:
total_account_info= pd.merge(min_branch_dist_df,merged_account_df, on="Account")

In [13]:
def new_column(total_account_info):
  if total_account_info["Distance to Closest Branch (mi)"] == total_account_info['Distance to Branch A (mi)']:
    return "Branch A"
  elif total_account_info["Distance to Closest Branch (mi)"] == total_account_info['Distance to Branch B (mi)']:
    return "Branch B"
  elif total_account_info["Distance to Closest Branch (mi)"] == total_account_info['Distance to Branch C (mi)']:
    return "Branch C"
  elif total_account_info["Distance to Closest Branch (mi)"] == total_account_info['Distance to Branch D (mi)']:
    return "Branch D"
  else:
    print("ERROR")

In [14]:
#Account Characteristics
total_account_info["Closest Branch"]= total_account_info.apply(new_column, axis=1)
total_account_info

,Distance to Closest Branch (mi),Avg Account Balance ($),Years as Customer,Distance to Branch A (mi),Distance to Branch B (mi),Distance to Branch C (mi),Distance to Branch D (mi),Closest Branch
Account,,,,,,,,
1000,1.83,8000,0.85,6.09,2.12,2.85,1.83,Branch D
1001,0.19,13000,13.13,4.31,0.30,2.66,0.19,Branch D
1002,0.98,30000,4.21,3.81,0.98,2.63,3.07,Branch B
1003,0.65,14833,6.41,2.73,0.65,0.76,1.70,Branch B
1004,0.31,16851,14.09,0.31,4.35,4.78,2.31,Branch A
...,...,...,...,...,...,...,...,...
1195,2.31,11003,7.04,3.78,2.31,3.08,3.74,Branch B
1196,1.43,11444,0.35,6.62,1.43,1.53,1.96,Branch B
1197,0.31,9933,3.37,0.86,2.50,4.90,0.31,Branch D
1198,1.37,7157,6.61,6.66,1.78,3.67,1.37,Branch D
1199,0.21,14819,10.08,4.67,0.21,2.57,0.27,Branch B

In [15]:
branch_avg_balance_df= pd.DataFrame(total_account_info.groupby(total_account_info['Closest Branch'])["Avg Account Balance ($)"].mean().sort_values(ascending=False))
branch_avg_balance_df.rename(columns = {"Avg Account Balance ($)":"Avg Branch Balance ($)"}, inplace=True)

In [16]:
number_of_customers_closestBranch= pd.DataFrame((total_account_info.groupby(total_account_info["Closest Branch"])["Distance to Closest Branch (mi)"].count().sort_values(ascending=False)))
number_of_customers_closestBranch.rename(columns = {"Distance to Closest Branch (mi)":"Number of Accounts "}, inplace=True)

In [17]:
#Branch Average Account Balance & Number of Accounts at Closest Branch
closestBranch_Accounts_avgBalance= pd.merge(branch_avg_balance_df,number_of_customers_closestBranch,on="Closest Branch")
closestBranch_Accounts_avgBalance

                Avg Branch Balance ($)  Number of Accounts
Closest Branch
Branch A                  23098.206897                   29
Branch B                  17446.000000                   50
Branch C                  14095.489362                   47
Branch D                  11262.594595                   74

#Phase 1- *Retention Model*

In [18]:
def secondbranch(total_account_info):
  if total_account_info["Distance to Closest Branch (mi)"] == total_account_info["Distance to Branch A (mi)"]:
    return total_account_info[["Distance to Branch B (mi)","Distance to Branch C (mi)","Distance to Branch D (mi)"]].min() - total_account_info["Distance to Closest Branch (mi)"]
  elif total_account_info["Distance to Closest Branch (mi)"] == total_account_info["Distance to Branch B (mi)"]:
    return total_account_info[["Distance to Branch A (mi)","Distance to Branch C (mi)","Distance to Branch D (mi)"]].min() - total_account_info["Distance to Closest Branch (mi)"]
  elif total_account_info["Distance to Closest Branch (mi)"] == total_account_info["Distance to Branch C (mi)"]:
    return total_account_info[["Distance to Branch A (mi)","Distance to Branch B (mi)","Distance to Branch D (mi)"]].min() - total_account_info["Distance to Closest Branch (mi)"]
  elif total_account_info["Distance to Closest Branch (mi)"] == total_account_info["Distance to Branch D (mi)"]:
    return total_account_info[["Distance to Branch A (mi)","Distance to Branch B (mi)","Distance to Branch C (mi)"]].min() - total_account_info["Distance to Closest Branch (mi)"]
  else:
    print("Error")

In [19]:
#Run cell one time.
total_account_info["2nd Closest Branch"]= total_account_info.apply(secondbranch, axis=1)

In [20]:
total_account_info.rename(columns= {"2nd Closest Branch":"Inc. Distance to 2nd Closest Branch (mi)"},inplace=True)

In [21]:
fee_driven_attrition_link= "https://raw.githubusercontent.com/devindrajewth/CASE_2/main/Fee_Driven_Attrition.csv"
fee_driven_att= pd.read_csv(fee_driven_attrition_link)
fee_driven_att
print(fee_driven_att.dtypes)
fee_driven_att.rename(columns={"Minimum (USD)":"Minimum ($)","Fee (USD)":"Fee ($)"},inplace=True)
fee_driven_att.drop("Attrition",axis=1,inplace=True)
fee_driven_att

Customer        object
Minimum ($)      int64
Fee ($)          int64
Retention      float64
Attrition      float64
dtype: object

         Customer  Minimum ($)  Fee ($)  Retention
0      Customer 1        12000       40        1.0
1      Customer 2        12000       60        1.0
2      Customer 3        15000       40        1.0
3      Customer 4        15000       60        1.0
4      Customer 5        12000       40        1.0
..            ...          ...      ...        ...
395  Customer 396        15000       60        1.0
396  Customer 397        12000       40        1.0
397  Customer 398        12000       60        1.0
398  Customer 399        15000       40        1.0
399  Customer 400        15000       60        1.0

[400 rows x 4 columns]

In [22]:
#Attrition: Customers Lost---> NaN= Customer Kept
#Retention: Customers Kept---> NaN= Customer Lost
#350 customers kept based on different balance and fee scenarios, 50 where lost.
fee_driven_att.isnull().sum()

Customer        0
Minimum ($)     0
Fee ($)         0
Retention      50
dtype: int64

In [23]:
min_onedf= fee_driven_att[fee_driven_att['Minimum ($)']==12000]
print(str(min_onedf["Retention"].isnull().sum()) + " customers. " )
fortyfee_onedf= min_onedf[min_onedf['Fee ($)']==40]
fortyfee_onedf["Retention"].isnull().sum()
print(str(fortyfee_onedf["Retention"].isnull().sum()) + " customers lost based on a $12,000 minimum and $40 annual fee (10% attrition).")

30 customers.
10 customers lost based on a $12,000 minimum and $40 annual fee (10% attrition).

In [24]:
min_onedf= fee_driven_att[fee_driven_att['Minimum ($)']==12000]
print(str(min_onedf["Retention"].isnull().sum()) + " customers. ")
sixtyfee_onedf= min_onedf[min_onedf['Fee ($)']==60]
sixtyfee_onedf["Retention"].isnull().sum()
print(str(sixtyfee_onedf["Retention"].isnull().sum()) + " customers lost based on a $12,000 minimum and $60 annual fee (20% attrition).")

30 customers.
20 customers lost based on a $12,000 minimum and $60 annual fee (20% attrition).

In [25]:
min_twodf= fee_driven_att[fee_driven_att['Minimum ($)']==15000]
print(str(min_twodf["Retention"].isnull().sum()) + " customers.")
fortyfee_twodf= min_twodf[min_twodf['Fee ($)']==40]
fortyfee_twodf["Retention"].isnull().sum()
print(str(fortyfee_twodf["Retention"].isnull().sum()) + " customers lost based on a $15,000 minimum with a $40 annual fee (5% attrition).")

20 customers.
5 customers lost based on a $15,000 minimum with a $40 annual fee (5% attrition).

In [26]:
min_twodf= fee_driven_att[fee_driven_att['Minimum ($)']==15000]
print(str(min_twodf["Retention"].isnull().sum()) + " customers.")
sixtyfee_twodf= min_twodf[min_twodf['Fee ($)']==60]
sixtyfee_twodf["Retention"].isnull().sum()
print(str(sixtyfee_twodf["Retention"].isnull().sum()) + " customers lost based on a $15,000 minimum with a $60 annual fee (15% attrition).")

20 customers.
15 customers lost based on a $15,000 minimum with a $60 annual fee (15% attrition).

In [27]:
#Account Attrition Probability 
Acc_Attrition_Probability= {"Minimum Balance ($)":[12000,15000],"col2":[0.10,0.05],"col3":[0.20,0.15]}
Acc_Attrition_Probability_df= pd.DataFrame(Acc_Attrition_Probability)
Acc_Attrition_Probability_df.set_index("Minimum Balance ($)",inplace=True)
Acc_Attrition_Probability_df.rename(columns={"col2":"$40 Annual Fee","col3":"$60 Annual Fee"},inplace=True)
Acc_Attrition_Probability_df

                     $40 Annual Fee  $60 Annual Fee
Minimum Balance ($)
12000                          0.10            0.20
15000                          0.05            0.15

In [28]:
def secbranch_mi(total_account_info):
  if total_account_info['Closest Branch']== "Branch D":
    return total_account_info[['Distance to Branch A (mi)','Distance to Branch B (mi)', 'Distance to Branch C (mi)']].min()
  elif total_account_info['Closest Branch']== "Branch C":
    return total_account_info[['Distance to Branch A (mi)','Distance to Branch B (mi)', 'Distance to Branch D (mi)']].min()
  elif total_account_info['Closest Branch']== "Branch B":
    return total_account_info[['Distance to Branch A (mi)','Distance to Branch C (mi)', 'Distance to Branch D (mi)']].min()
  elif total_account_info['Closest Branch']== "Branch A":
    return total_account_info[['Distance to Branch B (mi)','Distance to Branch C (mi)', 'Distance to Branch D (mi)']].min()
  else:
    print("Error")
total_account_info["2nd Closest Branch"]= total_account_info.apply(secbranch_mi, axis=1)
total_account_info
def secbranch_letter(total_account_info):
  if total_account_info['2nd Closest Branch']== total_account_info['Distance to Branch A (mi)']:
    return 'Branch A'
  elif total_account_info['2nd Closest Branch']== total_account_info['Distance to Branch B (mi)']:
    return 'Branch B'
  elif total_account_info['2nd Closest Branch']== total_account_info['Distance to Branch C (mi)']:
    return 'Branch C'
  elif total_account_info['2nd Closest Branch']== total_account_info['Distance to Branch D (mi)']:
    return 'Branch D'
  else:
    print("ERROR")
total_account_info['next closest']= total_account_info.apply(secbranch_letter,axis=1)
total_account_info
total_account_info_2= total_account_info.drop('2nd Closest Branch',axis=1)
total_account_info_2.rename(columns= {"next closest": "2nd Closest Branch","Distance to Closest Branch (mi)":"Dist. to Closest Branch (mi)"},inplace=True)
total_account_info_2

,Dist. to Closest Branch (mi),Avg Account Balance ($),Years as Customer,Distance to Branch A (mi),Distance to Branch B (mi),Distance to Branch C (mi),Distance to Branch D (mi),Closest Branch,Inc. Distance to 2nd Closest Branch (mi),2nd Closest Branch
Account,,,,,,,,,,
1000,1.83,8000,0.85,6.09,2.12,2.85,1.83,Branch D,0.29,Branch B
1001,0.19,13000,13.13,4.31,0.30,2.66,0.19,Branch D,0.11,Branch B
1002,0.98,30000,4.21,3.81,0.98,2.63,3.07,Branch B,1.65,Branch C
1003,0.65,14833,6.41,2.73,0.65,0.76,1.70,Branch B,0.11,Branch C
1004,0.31,16851,14.09,0.31,4.35,4.78,2.31,Branch A,2.00,Branch D
...,...,...,...,...,...,...,...,...,...,...
1195,2.31,11003,7.04,3.78,2.31,3.08,3.74,Branch B,0.77,Branch C
1196,1.43,11444,0.35,6.62,1.43,1.53,1.96,Branch B,0.10,Branch C
1197,0.31,9933,3.37,0.86,2.50,4.90,0.31,Branch D,0.55,Branch A
1198,1.37,7157,6.61,6.66,1.78,3.67,1.37,Branch D,0.41,Branch B
1199,0.21,14819,10.08,4.67,0.21,2.57,0.27,Branch B,0.06,Branch D

In [29]:
inc_dist= pd.DataFrame(total_account_info_2[["Years as Customer","Avg Account Balance ($)","Closest Branch","Dist. to Closest Branch (mi)","Inc. Distance to 2nd Closest Branch (mi)",]])
inc_dist
yrs_customer= pd.DataFrame(inc_dist['Years as Customer'])
yrs_customer

         Years as Customer
Account
1000                  0.85
1001                 13.13
1002                  4.21
1003                  6.41
1004                 14.09
...                    ...
1195                  7.04
1196                  0.35
1197                  3.37
1198                  6.61
1199                 10.08

[200 rows x 1 columns]

In [30]:
inc_dist_dummypivot= pd.pivot_table(data=inc_dist,index="Account",columns="Closest Branch",values="Inc. Distance to 2nd Closest Branch (mi)")
print(inc_dist_dummypivot.isnull().sum())
inc_dist_dummypivot
#Values in Branch columns are the incremental distance to 2nd closest branch from the Branch that value is positioned in

Closest Branch
Branch A    171
Branch B    150
Branch C    153
Branch D    126
dtype: int64

Closest Branch  Branch A  Branch B  Branch C  Branch D
Account
1000                 NaN       NaN       NaN      0.29
1001                 NaN       NaN       NaN      0.11
1002                 NaN      1.65       NaN       NaN
1003                 NaN      0.11       NaN       NaN
1004                 2.0       NaN       NaN       NaN
...                  ...       ...       ...       ...
1195                 NaN      0.77       NaN       NaN
1196                 NaN      0.10       NaN       NaN
1197                 NaN       NaN       NaN      0.55
1198                 NaN       NaN       NaN      0.41
1199                 NaN      0.06       NaN       NaN

[200 rows x 4 columns]

In [31]:
inc_dist_pivot= pd.merge(yrs_customer,inc_dist_dummypivot, on="Account")
print(inc_dist_pivot.dtypes)
inc_dist_pivot.fillna("--", inplace=True)
print(inc_dist_pivot.dtypes)
inc_dist_pivot

Years as Customer    float64
Branch A             float64
Branch B             float64
Branch C             float64
Branch D             float64
dtype: object
Years as Customer    float64
Branch A              object
Branch B              object
Branch C              object
Branch D              object
dtype: object

         Years as Customer Branch A Branch B Branch C Branch D
Account
1000                  0.85       --       --       --     0.29
1001                 13.13       --       --       --     0.11
1002                  4.21       --     1.65       --       --
1003                  6.41       --     0.11       --       --
1004                 14.09      2.0       --       --       --
...                    ...      ...      ...      ...      ...
1195                  7.04       --     0.77       --       --
1196                  0.35       --      0.1       --       --
1197                  3.37       --       --       --     0.55
1198                  6.61       --       --       --     0.41
1199                 10.08       --     0.06       --       --

[200 rows x 5 columns]

In [32]:
#Account Attrition Probability Due to Incremental Distance to Branch
attr_prob_incdist_link="https://raw.githubusercontent.com/devindrajewth/CASE_2/main/Account%20Attrition%20Probability%20Due%20to%20Incremental%20Distance%20to%20Branch.csv"
attr_prob_incdist_df= pd.read_csv(attr_prob_incdist_link)
attr_prob_incdist_df
attr_prob_incdist_df.rename(columns={"Inc. Dist to next closest branch: 0 to 0.25":"Inc. Dist to next closest branch: 0 to 0.25 (mi)","Inc. Dist to next closest branch: 0.25 to 0.5":"Inc. Dist to next closest branch: 0.25 to 0.5 (mi)",
                                     "Inc. Dist to next closest branch: 0.5 to 1":"Inc. Dist to next closest branch: 0.5 to 1 (mi)","Inc. Dist to next closest branch: > 1":"Inc. Dist to next closest branch: > 1 (mi)"},inplace=True)
attr_prob_incdist_df_pivot= pd.pivot_table(data=attr_prob_incdist_df,index="Years as Customer")
attr_prob_incdist_df_pivot

,Inc. Dist to next closest branch: 0 to 0.25 (mi),Inc. Dist to next closest branch: 0.25 to 0.5 (mi),Inc. Dist to next closest branch: 0.5 to 1 (mi),Inc. Dist to next closest branch: > 1 (mi)
Years as Customer,,,,
0 to 1,0.35,0.40,0.45,0.50
1 to 3,0.30,0.35,0.40,0.45
3 to 5,0.25,0.30,0.35,0.40
> 5,0.20,0.25,0.30,0.35

In [33]:
def branchA_accreten_prob(inc_dist_pivot):
  if inc_dist_pivot['Branch A']== "--":
    return "1"
  elif inc_dist_pivot['Branch A'] <0.25 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.35
  elif inc_dist_pivot['Branch A'] >=0.25 and inc_dist_pivot['Branch A'] <0.5 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.40
  elif inc_dist_pivot['Branch A'] >=0.5 and inc_dist_pivot['Branch A'] <1 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.45
  elif inc_dist_pivot['Branch A'] >=1 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.50
  elif inc_dist_pivot['Branch A'] <0.25 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.30
  elif inc_dist_pivot['Branch A'] >=0.25 and inc_dist_pivot['Branch A'] <0.5 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.35
  elif inc_dist_pivot['Branch A'] >=0.5 and inc_dist_pivot['Branch A'] <1 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.40
  elif inc_dist_pivot['Branch A'] >=1 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.45   
  elif inc_dist_pivot['Branch A'] <0.25 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.25
  elif inc_dist_pivot['Branch A'] >=0.25 and inc_dist_pivot['Branch A'] <0.5 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.30
  elif inc_dist_pivot['Branch A'] >=0.5 and inc_dist_pivot['Branch A'] <1 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.35
  elif inc_dist_pivot['Branch A'] >=1 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.40 
  elif inc_dist_pivot['Branch A'] <0.25 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.20
  elif inc_dist_pivot['Branch A'] >=0.25 and inc_dist_pivot['Branch A'] <0.5 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.25
  elif inc_dist_pivot['Branch A'] >=0.5 and inc_dist_pivot['Branch A'] <1 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.30
  elif inc_dist_pivot['Branch A'] >=1 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.35
  else:
    print("error")
inc_dist_pivot["Branch A Ret. Prob."]= inc_dist_pivot.apply(branchA_accreten_prob, axis=1)

In [34]:
def branchB_accreten_prob(inc_dist_pivot):
  if inc_dist_pivot['Branch B']== "--":
    return "1"
  elif inc_dist_pivot['Branch B'] <0.25 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.35
  elif inc_dist_pivot['Branch B'] >=0.25 and inc_dist_pivot['Branch B'] <0.5 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.40
  elif inc_dist_pivot['Branch B'] >=0.5 and inc_dist_pivot['Branch B'] <1 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.45
  elif inc_dist_pivot['Branch B'] >=1 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.50
  elif inc_dist_pivot['Branch B'] <0.25 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.30
  elif inc_dist_pivot['Branch B'] >=0.25 and inc_dist_pivot['Branch B'] <0.5 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.35
  elif inc_dist_pivot['Branch B'] >=0.5 and inc_dist_pivot['Branch B'] <1 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.40
  elif inc_dist_pivot['Branch B'] >=1 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.45   
  elif inc_dist_pivot['Branch B'] <0.25 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.25
  elif inc_dist_pivot['Branch B'] >=0.25 and inc_dist_pivot['Branch B'] <0.5 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.30
  elif inc_dist_pivot['Branch B'] >=0.5 and inc_dist_pivot['Branch B'] <1 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.35
  elif inc_dist_pivot['Branch B'] >=1 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.40 
  elif inc_dist_pivot['Branch B'] <0.25 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.20
  elif inc_dist_pivot['Branch B'] >=0.25 and inc_dist_pivot['Branch B'] <0.5 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.25
  elif inc_dist_pivot['Branch B'] >=0.5 and inc_dist_pivot['Branch B'] <1 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.30
  elif inc_dist_pivot['Branch B'] >=1 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.35
  else:
    print("error")
inc_dist_pivot["Branch B Ret. Prob."]= inc_dist_pivot.apply(branchB_accreten_prob, axis=1)

In [35]:
def branchC_accreten_prob(inc_dist_pivot):
  if inc_dist_pivot['Branch C']== "--":
    return "1"
  elif inc_dist_pivot['Branch C'] <0.25 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.35
  elif inc_dist_pivot['Branch C'] >=0.25 and inc_dist_pivot['Branch C'] <0.5 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.40
  elif inc_dist_pivot['Branch C'] >=0.5 and inc_dist_pivot['Branch C'] <1 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.45
  elif inc_dist_pivot['Branch C'] >=1 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.50
  elif inc_dist_pivot['Branch C'] <0.25 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.30
  elif inc_dist_pivot['Branch C'] >=0.25 and inc_dist_pivot['Branch C'] <0.5 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.35
  elif inc_dist_pivot['Branch C'] >=0.5 and inc_dist_pivot['Branch C'] <1 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.40
  elif inc_dist_pivot['Branch C'] >=1 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.45   
  elif inc_dist_pivot['Branch C'] <0.25 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.25
  elif inc_dist_pivot['Branch C'] >=0.25 and inc_dist_pivot['Branch C'] <0.5 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.30
  elif inc_dist_pivot['Branch C'] >=0.5 and inc_dist_pivot['Branch C'] <1 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.35
  elif inc_dist_pivot['Branch C'] >=1 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.40 
  elif inc_dist_pivot['Branch C'] <0.25 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.20
  elif inc_dist_pivot['Branch C'] >=0.25 and inc_dist_pivot['Branch C'] <0.5 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.25
  elif inc_dist_pivot['Branch C'] >=0.5 and inc_dist_pivot['Branch C'] <1 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.30
  elif inc_dist_pivot['Branch C'] >=1 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.35
  else:
    print("error")
inc_dist_pivot["Branch C Ret. Prob."]= inc_dist_pivot.apply(branchC_accreten_prob, axis=1)

In [36]:
def branchD_accreten_prob(inc_dist_pivot):
  if inc_dist_pivot['Branch D']== "--":
    return "1"
  elif inc_dist_pivot['Branch D'] <0.25 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.35
  elif inc_dist_pivot['Branch D'] >=0.25 and inc_dist_pivot['Branch D'] <0.5 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.40
  elif inc_dist_pivot['Branch D'] >=0.5 and inc_dist_pivot['Branch D'] <1 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.45
  elif inc_dist_pivot['Branch D'] >=1 and inc_dist_pivot['Years as Customer'] <1:
    return 1-0.50
  elif inc_dist_pivot['Branch D'] <0.25 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.30
  elif inc_dist_pivot['Branch D'] >=0.25 and inc_dist_pivot['Branch D'] <0.5 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.35
  elif inc_dist_pivot['Branch D'] >=0.5 and inc_dist_pivot['Branch D'] <1 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.40
  elif inc_dist_pivot['Branch D'] >=1 and inc_dist_pivot['Years as Customer'] >=1 and inc_dist_pivot['Years as Customer'] <3:
    return 1-0.45   
  elif inc_dist_pivot['Branch D'] <0.25 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.25
  elif inc_dist_pivot['Branch D'] >=0.25 and inc_dist_pivot['Branch D'] <0.5 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.30
  elif inc_dist_pivot['Branch D'] >=0.5 and inc_dist_pivot['Branch D'] <1 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.35
  elif inc_dist_pivot['Branch D'] >=1 and inc_dist_pivot['Years as Customer'] >=3 and inc_dist_pivot['Years as Customer'] <5:
    return 1-0.40 
  elif inc_dist_pivot['Branch D'] <0.25 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.20
  elif inc_dist_pivot['Branch D'] >=0.25 and inc_dist_pivot['Branch D'] <0.5 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.25
  elif inc_dist_pivot['Branch D'] >=0.5 and inc_dist_pivot['Branch D'] <1 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.30
  elif inc_dist_pivot['Branch D'] >=1 and inc_dist_pivot['Years as Customer'] >=5:
    return 1-0.35
  else:
    print("error")
inc_dist_pivot["Branch D Ret. Prob."]= inc_dist_pivot.apply(branchD_accreten_prob, axis=1)

In [37]:
#Branch Closure Retention Probability
inc_distprob_pivot= inc_dist_pivot[['Branch A Ret. Prob.','Branch B Ret. Prob.','Branch C Ret. Prob.','Branch D Ret. Prob.']]
inc_distprob_pivot

,Branch A Ret. Prob.,Branch B Ret. Prob.,Branch C Ret. Prob.,Branch D Ret. Prob.
Account,,,,
1000,1,1,1,0.6
1001,1,1,1,0.8
1002,1,0.6,1,1
1003,1,0.8,1,1
1004,0.65,1,1,1
...,...,...,...,...
1195,1,0.7,1,1
1196,1,0.65,1,1
1197,1,1,1,0.65
1198,1,1,1,0.75
1199,1,0.8,1,1

In [38]:
#Account info with Branch Closure Retention Probability
accinfo_w_Bclosure_prob= pd.merge(total_account_info_2,inc_distprob_pivot,on="Account")
accinfo_w_Bclosure_prob

,Dist. to Closest Branch (mi),Avg Account Balance ($),Years as Customer,Distance to Branch A (mi),Distance to Branch B (mi),Distance to Branch C (mi),Distance to Branch D (mi),Closest Branch,Inc. Distance to 2nd Closest Branch (mi),2nd Closest Branch,Branch A Ret. Prob.,Branch B Ret. Prob.,Branch C Ret. Prob.,Branch D Ret. Prob.
Account,,,,,,,,,,,,,,
1000,1.83,8000,0.85,6.09,2.12,2.85,1.83,Branch D,0.29,Branch B,1,1,1,0.6
1001,0.19,13000,13.13,4.31,0.30,2.66,0.19,Branch D,0.11,Branch B,1,1,1,0.8
1002,0.98,30000,4.21,3.81,0.98,2.63,3.07,Branch B,1.65,Branch C,1,0.6,1,1
1003,0.65,14833,6.41,2.73,0.65,0.76,1.70,Branch B,0.11,Branch C,1,0.8,1,1
1004,0.31,16851,14.09,0.31,4.35,4.78,2.31,Branch A,2.00,Branch D,0.65,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,2.31,11003,7.04,3.78,2.31,3.08,3.74,Branch B,0.77,Branch C,1,0.7,1,1
1196,1.43,11444,0.35,6.62,1.43,1.53,1.96,Branch B,0.10,Branch C,1,0.65,1,1
1197,0.31,9933,3.37,0.86,2.50,4.90,0.31,Branch D,0.55,Branch A,1,1,1,0.65
1198,1.37,7157,6.61,6.66,1.78,3.67,1.37,Branch D,0.41,Branch B,1,1,1,0.75
1199,0.21,14819,10.08,4.67,0.21,2.57,0.27,Branch B,0.06,Branch D,1,0.8,1,1

In [39]:
#12 in "12_bool" means customer has avg account balance of < 12000
#12000 in "12_bool" means customer has avg account balance >= 12000
far_1= pd.DataFrame(accinfo_w_Bclosure_prob[['Avg Account Balance ($)','Branch A Ret. Prob.','Branch B Ret. Prob.','Branch C Ret. Prob.','Branch D Ret. Prob.']])
far_1
def minbal_12(far_1):
  if far_1['Avg Account Balance ($)'] >= 12000:
    return 12000
  elif far_1['Avg Account Balance ($)'] < 12000:
    return 12
  else:
    print('ERROR')
far_1["12_bool"]= far_1.apply(minbal_12,axis=1)

In [40]:
#15 in "15_bool" means customer has avg account balance < 15000
#15000 in "15_bool" means customer has avg account balance >= 15000

def minbal_15(far_1):
  if far_1['Avg Account Balance ($)'] >= 15000:
    return 15000
  elif far_1['Avg Account Balance ($)'] < 15000:
    return 15
  else:
    print("ERROR")
far_1["15_bool"]= far_1.apply(minbal_15, axis=1)

In [41]:
print(far_1.dtypes)

Avg Account Balance ($)     int64
Branch A Ret. Prob.        object
Branch B Ret. Prob.        object
Branch C Ret. Prob.        object
Branch D Ret. Prob.        object
12_bool                     int64
15_bool                     int64
dtype: object

In [42]:
far_2= far_1.astype(str)
print(far_2.dtypes)

Avg Account Balance ($)    object
Branch A Ret. Prob.        object
Branch B Ret. Prob.        object
Branch C Ret. Prob.        object
Branch D Ret. Prob.        object
12_bool                    object
15_bool                    object
dtype: object

In [43]:
def twelve4_fee_ret(far_1):
  if far_1['Avg Account Balance ($)'] <12000:
    return 1-0.10
  elif far_1['Avg Account Balance ($)'] >=12000:
    return 1
  else:
    print('error')
far_1["$12,000 & $40 prob."]= far_1.apply(twelve4_fee_ret,axis=1)

In [44]:
def fifteen4_fee_ret(far_1):
  if far_1['Avg Account Balance ($)'] <15000:
    return 1-0.05
  elif far_1['Avg Account Balance ($)'] >=15000:
    return 1
  else:
    print('error')
far_1["$15,000 & $40 prob."]= far_1.apply(fifteen4_fee_ret,axis=1)
def twelve6_fee_ret(far_1):
  if far_1['Avg Account Balance ($)'] <12000:
    return 1-0.20
  elif far_1['Avg Account Balance ($)'] >=12000:
    return 1
  else:
    print('error')
far_1["$12,000 & $60 prob."]= far_1.apply(twelve6_fee_ret,axis=1)

In [45]:
#Run cell one time
far_1.loc[far_1['Avg Account Balance ($)'] <15000, '$15,000 & $60 prob.'] = 1-0.15
far_1
print(far_1.isnull().sum())

Avg Account Balance ($)     0
Branch A Ret. Prob.         0
Branch B Ret. Prob.         0
Branch C Ret. Prob.         0
Branch D Ret. Prob.         0
12_bool                     0
15_bool                     0
$12,000 & $40 prob.         0
$15,000 & $40 prob.         0
$12,000 & $60 prob.         0
$15,000 & $60 prob.        79
dtype: int64

In [46]:
def fifteen_018(far_1):
  if far_1['Avg Account Balance ($)'] <15000:
    return 1-0.18
  elif far_1['Avg Account Balance ($)'] >=15000:
    return 1
  else:
    print('error')
far_1['$15,000 & $60 prob (0.18)']= far_1.apply(fifteen_018,axis=1)

In [47]:
#Fee Account Retention Probability
far_1.fillna(1,inplace=True)
print(far_1.dtypes)
far_1

Avg Account Balance ($)        int64
Branch A Ret. Prob.           object
Branch B Ret. Prob.           object
Branch C Ret. Prob.           object
Branch D Ret. Prob.           object
12_bool                        int64
15_bool                        int64
$12,000 & $40 prob.          float64
$15,000 & $40 prob.          float64
$12,000 & $60 prob.          float64
$15,000 & $60 prob.          float64
$15,000 & $60 prob (0.18)    float64
dtype: object

,Avg Account Balance ($),Branch A Ret. Prob.,Branch B Ret. Prob.,Branch C Ret. Prob.,Branch D Ret. Prob.,12_bool,15_bool,"$12,000 & $40 prob.","$15,000 & $40 prob.","$12,000 & $60 prob.","$15,000 & $60 prob.","$15,000 & $60 prob (0.18)"
Account,,,,,,,,,,,,
1000,8000,1,1,1,0.6,12,15,0.9,0.95,0.8,0.85,0.82
1001,13000,1,1,1,0.8,12000,15,1.0,0.95,1.0,0.85,0.82
1002,30000,1,0.6,1,1,12000,15000,1.0,1.00,1.0,1.00,1.00
1003,14833,1,0.8,1,1,12000,15,1.0,0.95,1.0,0.85,0.82
1004,16851,0.65,1,1,1,12000,15000,1.0,1.00,1.0,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...
1195,11003,1,0.7,1,1,12,15,0.9,0.95,0.8,0.85,0.82
1196,11444,1,0.65,1,1,12,15,0.9,0.95,0.8,0.85,0.82
1197,9933,1,1,1,0.65,12,15,0.9,0.95,0.8,0.85,0.82
1198,7157,1,1,1,0.75,12,15,0.9,0.95,0.8,0.85,0.82
1199,14819,1,0.8,1,1,12000,15,1.0,0.95,1.0,0.85,0.82

In [48]:
jbc_and_far_prob= far_1[['Avg Account Balance ($)','12_bool','15_bool','Branch A Ret. Prob.','Branch B Ret. Prob.','Branch C Ret. Prob.','Branch D Ret. Prob.',
                         '$12,000 & $40 prob.','$15,000 & $40 prob.','$12,000 & $60 prob.','$15,000 & $60 prob.','$15,000 & $60 prob (0.18)']]
print(jbc_and_far_prob.dtypes)
jbc_and_far_prob_=jbc_and_far_prob[['Avg Account Balance ($)','12_bool','15_bool','Branch A Ret. Prob.', 'Branch B Ret. Prob.','Branch C Ret. Prob.', 'Branch D Ret. Prob.', '$12,000 & $40 prob.',
                                    '$15,000 & $40 prob.', '$12,000 & $60 prob.', '$15,000 & $60 prob.','$15,000 & $60 prob (0.18)']].apply(pd.to_numeric)

jbc_and_far_prob_.dtypes

Avg Account Balance ($)        int64
12_bool                        int64
15_bool                        int64
Branch A Ret. Prob.           object
Branch B Ret. Prob.           object
Branch C Ret. Prob.           object
Branch D Ret. Prob.           object
$12,000 & $40 prob.          float64
$15,000 & $40 prob.          float64
$12,000 & $60 prob.          float64
$15,000 & $60 prob.          float64
$15,000 & $60 prob (0.18)    float64
dtype: object

Avg Account Balance ($)        int64
12_bool                        int64
15_bool                        int64
Branch A Ret. Prob.          float64
Branch B Ret. Prob.          float64
Branch C Ret. Prob.          float64
Branch D Ret. Prob.          float64
$12,000 & $40 prob.          float64
$15,000 & $40 prob.          float64
$12,000 & $60 prob.          float64
$15,000 & $60 prob.          float64
$15,000 & $60 prob (0.18)    float64
dtype: object

In [49]:
jbc_and_far_prob_['A- $12000 Min and $40 Fee Retention Prob.']= jbc_and_far_prob_['Branch A Ret. Prob.'] * jbc_and_far_prob_['$12,000 & $40 prob.']
jbc_and_far_prob_['A- $15000 Min and $40 Fee Retention Prob.']= jbc_and_far_prob_['Branch A Ret. Prob.'] * jbc_and_far_prob_['$15,000 & $40 prob.']
jbc_and_far_prob_['A- $12000 Min and $60 Fee Retention Prob.']= jbc_and_far_prob_['Branch A Ret. Prob.'] * jbc_and_far_prob_['$12,000 & $60 prob.']
jbc_and_far_prob_['A- $15000 Min and $60 Fee Retention Prob.']= jbc_and_far_prob_['Branch A Ret. Prob.'] * jbc_and_far_prob_['$15,000 & $60 prob.']
jbc_and_far_prob_['A- $15000 Min and $60 Fee(0.18) Retention Prob.']= jbc_and_far_prob_['Branch A Ret. Prob.'] * jbc_and_far_prob_['$15,000 & $60 prob (0.18)']

jbc_and_far_prob_['B- $12000 Min and $40 Fee Retention Prob.']= jbc_and_far_prob_['Branch B Ret. Prob.'] * jbc_and_far_prob_['$12,000 & $40 prob.']
jbc_and_far_prob_['B- $15000 Min and $40 Fee Retention Prob.']= jbc_and_far_prob_['Branch B Ret. Prob.'] * jbc_and_far_prob_['$15,000 & $40 prob.']
jbc_and_far_prob_['B- $12000 Min and $60 Fee Retention Prob.']= jbc_and_far_prob_['Branch B Ret. Prob.'] * jbc_and_far_prob_['$12,000 & $60 prob.']
jbc_and_far_prob_['B- $15000 Min and $60 Fee Retention Prob.']= jbc_and_far_prob_['Branch B Ret. Prob.'] * jbc_and_far_prob_['$15,000 & $60 prob.']
jbc_and_far_prob_['B- $15000 Min and $60 Fee(0.18) Retention Prob.']= jbc_and_far_prob_['Branch B Ret. Prob.'] * jbc_and_far_prob_['$15,000 & $60 prob (0.18)']

jbc_and_far_prob_['C- $12000 Min and $40 Fee Retention Prob.']= jbc_and_far_prob_['Branch C Ret. Prob.'] * jbc_and_far_prob_['$12,000 & $40 prob.']
jbc_and_far_prob_['C- $15000 Min and $40 Fee Retention Prob.']= jbc_and_far_prob_['Branch C Ret. Prob.'] * jbc_and_far_prob_['$15,000 & $40 prob.']
jbc_and_far_prob_['C- $12000 Min and $60 Fee Retention Prob.']= jbc_and_far_prob_['Branch C Ret. Prob.'] * jbc_and_far_prob_['$12,000 & $60 prob.']
jbc_and_far_prob_['C- $15000 Min and $60 Fee Retention Prob.']= jbc_and_far_prob_['Branch C Ret. Prob.'] * jbc_and_far_prob_['$15,000 & $60 prob.']
jbc_and_far_prob_['C- $15000 Min and $60 Fee(0.18) Retention Prob.']= jbc_and_far_prob_['Branch C Ret. Prob.'] * jbc_and_far_prob_['$15,000 & $60 prob (0.18)']

jbc_and_far_prob_['D- $12000 Min and $40 Fee Retention Prob.']= jbc_and_far_prob_['Branch D Ret. Prob.'] * jbc_and_far_prob_['$12,000 & $40 prob.']
jbc_and_far_prob_['D- $15000 Min and $40 Fee Retention Prob.']= jbc_and_far_prob_['Branch D Ret. Prob.'] * jbc_and_far_prob_['$15,000 & $40 prob.']
jbc_and_far_prob_['D- $12000 Min and $60 Fee Retention Prob.']= jbc_and_far_prob_['Branch D Ret. Prob.'] * jbc_and_far_prob_['$12,000 & $60 prob.']
jbc_and_far_prob_['D- $15000 Min and $60 Fee Retention Prob.']= jbc_and_far_prob_['Branch D Ret. Prob.'] * jbc_and_far_prob_['$15,000 & $60 prob.']
jbc_and_far_prob_['D- $15000 Min and $60 Fee(0.18) Retention Prob.']= jbc_and_far_prob_['Branch D Ret. Prob.'] * jbc_and_far_prob_['$15,000 & $60 prob (0.18)']

In [50]:
#Joint Branch Closure & Fee Account Retention Probability
jbc_and_far_prob_

,Avg Account Balance ($),12_bool,15_bool,Branch A Ret. Prob.,Branch B Ret. Prob.,Branch C Ret. Prob.,Branch D Ret. Prob.,"$12,000 & $40 prob.","$15,000 & $40 prob.","$12,000 & $60 prob.",...,C- $12000 Min and $40 Fee Retention Prob.,C- $15000 Min and $40 Fee Retention Prob.,C- $12000 Min and $60 Fee Retention Prob.,C- $15000 Min and $60 Fee Retention Prob.,C- $15000 Min and $60 Fee(0.18) Retention Prob.,D- $12000 Min and $40 Fee Retention Prob.,D- $15000 Min and $40 Fee Retention Prob.,D- $12000 Min and $60 Fee Retention Prob.,D- $15000 Min and $60 Fee Retention Prob.,D- $15000 Min and $60 Fee(0.18) Retention Prob.
Account,,,,,,,,,,,,,,,,,,,,,
1000,8000,12,15,1.00,1.00,1.0,0.60,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.540,0.5700,0.48,0.5100,0.492
1001,13000,12000,15,1.00,1.00,1.0,0.80,1.0,0.95,1.0,...,1.0,0.95,1.0,0.85,0.82,0.800,0.7600,0.80,0.6800,0.656
1002,30000,12000,15000,1.00,0.60,1.0,1.00,1.0,1.00,1.0,...,1.0,1.00,1.0,1.00,1.00,1.000,1.0000,1.00,1.0000,1.000
1003,14833,12000,15,1.00,0.80,1.0,1.00,1.0,0.95,1.0,...,1.0,0.95,1.0,0.85,0.82,1.000,0.9500,1.00,0.8500,0.820
1004,16851,12000,15000,0.65,1.00,1.0,1.00,1.0,1.00,1.0,...,1.0,1.00,1.0,1.00,1.00,1.000,1.0000,1.00,1.0000,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,11003,12,15,1.00,0.70,1.0,1.00,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.900,0.9500,0.80,0.8500,0.820
1196,11444,12,15,1.00,0.65,1.0,1.00,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.900,0.9500,0.80,0.8500,0.820
1197,9933,12,15,1.00,1.00,1.0,0.65,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.585,0.6175,0.52,0.5525,0.533
1198,7157,12,15,1.00,1.00,1.0,0.75,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.675,0.7125,0.60,0.6375,0.615
1199,14819,12000,15,1.00,0.80,1.0,1.00,1.0,0.95,1.0,...,1.0,0.95,1.0,0.85,0.82,1.000,0.9500,1.00,0.8500,0.820

In [51]:
#Validate 1
JBC_FR_prob_D_15000_60=jbc_and_far_prob_['D- $15000 Min and $60 Fee Retention Prob.'].mean()
print(str(JBC_FR_prob_D_15000_60*100) + "%")
pd.DataFrame(jbc_and_far_prob_['D- $15000 Min and $60 Fee Retention Prob.'].describe())

80.515%

       D- $15000 Min and $60 Fee Retention Prob.
count                                 200.000000
mean                                    0.805150
std                                     0.173212
min                                     0.467500
25%                                     0.637500
50%                                     0.850000
75%                                     1.000000
max                                     1.000000

In [52]:
#Validate 2
print("Average Joint Branch Closure and Fee Account Retention probability for Branch D after adjusting annual fee proability to " + str(18) + "% is, " + str(89.1) + "%.")
pd.DataFrame(jbc_and_far_prob_['$15,000 & $60 prob (0.18)'].describe())

Average Joint Branch Closure and Fee Account Retention probability for Branch D after adjusting annual fee proability to 18% is, 89.1%.

       $15,000 & $60 prob (0.18)
count                 200.000000
mean                    0.891100
std                     0.088214
min                     0.820000
25%                     0.820000
50%                     0.820000
75%                     1.000000
max                     1.000000

In [53]:
print(jbc_and_far_prob_.columns)
jbc_and_far_prob_.rename(columns={'$12,000 & $40 prob.':'$12,000 and $40 prob','$15,000 & $40 prob.':'$15,000 and $40 prob','$12,000 & $60 prob':'$12,000 and $60 prob','$15,000 & $60 prob.':'$15,000 and $60 prob', 
                                  '$15,000 & $60 prob (0.18)':'$15,000 and $60 prob (0.18)'},inplace=True)
jbc_and_far_prob_

Index(['Avg Account Balance ($)', '12_bool', '15_bool', 'Branch A Ret. Prob.',
       'Branch B Ret. Prob.', 'Branch C Ret. Prob.', 'Branch D Ret. Prob.',
       '$12,000 & $40 prob.', '$15,000 & $40 prob.', '$12,000 & $60 prob.',
       '$15,000 & $60 prob.', '$15,000 & $60 prob (0.18)',
       'A- $12000 Min and $40 Fee Retention Prob.',
       'A- $15000 Min and $40 Fee Retention Prob.',
       'A- $12000 Min and $60 Fee Retention Prob.',
       'A- $15000 Min and $60 Fee Retention Prob.',
       'A- $15000 Min and $60 Fee(0.18) Retention Prob.',
       'B- $12000 Min and $40 Fee Retention Prob.',
       'B- $15000 Min and $40 Fee Retention Prob.',
       'B- $12000 Min and $60 Fee Retention Prob.',
       'B- $15000 Min and $60 Fee Retention Prob.',
       'B- $15000 Min and $60 Fee(0.18) Retention Prob.',
       'C- $12000 Min and $40 Fee Retention Prob.',
       'C- $15000 Min and $40 Fee Retention Prob.',
       'C- $12000 Min and $60 Fee Retention Prob.',
       'C- $15000 Min and $60 Fee Retention Prob.',
       'C- $15000 Min and $60 Fee(0.18) Retention Prob.',
       'D- $12000 Min and $40 Fee Retention Prob.',
       'D- $15000 Min and $40 Fee Retention Prob.',
       'D- $12000 Min and $60 Fee Retention Prob.',
       'D- $15000 Min and $60 Fee Retention Prob.',
       'D- $15000 Min and $60 Fee(0.18) Retention Prob.'],
      dtype='object')

,Avg Account Balance ($),12_bool,15_bool,Branch A Ret. Prob.,Branch B Ret. Prob.,Branch C Ret. Prob.,Branch D Ret. Prob.,"$12,000 and $40 prob","$15,000 and $40 prob","$12,000 & $60 prob.",...,C- $12000 Min and $40 Fee Retention Prob.,C- $15000 Min and $40 Fee Retention Prob.,C- $12000 Min and $60 Fee Retention Prob.,C- $15000 Min and $60 Fee Retention Prob.,C- $15000 Min and $60 Fee(0.18) Retention Prob.,D- $12000 Min and $40 Fee Retention Prob.,D- $15000 Min and $40 Fee Retention Prob.,D- $12000 Min and $60 Fee Retention Prob.,D- $15000 Min and $60 Fee Retention Prob.,D- $15000 Min and $60 Fee(0.18) Retention Prob.
Account,,,,,,,,,,,,,,,,,,,,,
1000,8000,12,15,1.00,1.00,1.0,0.60,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.540,0.5700,0.48,0.5100,0.492
1001,13000,12000,15,1.00,1.00,1.0,0.80,1.0,0.95,1.0,...,1.0,0.95,1.0,0.85,0.82,0.800,0.7600,0.80,0.6800,0.656
1002,30000,12000,15000,1.00,0.60,1.0,1.00,1.0,1.00,1.0,...,1.0,1.00,1.0,1.00,1.00,1.000,1.0000,1.00,1.0000,1.000
1003,14833,12000,15,1.00,0.80,1.0,1.00,1.0,0.95,1.0,...,1.0,0.95,1.0,0.85,0.82,1.000,0.9500,1.00,0.8500,0.820
1004,16851,12000,15000,0.65,1.00,1.0,1.00,1.0,1.00,1.0,...,1.0,1.00,1.0,1.00,1.00,1.000,1.0000,1.00,1.0000,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,11003,12,15,1.00,0.70,1.0,1.00,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.900,0.9500,0.80,0.8500,0.820
1196,11444,12,15,1.00,0.65,1.0,1.00,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.900,0.9500,0.80,0.8500,0.820
1197,9933,12,15,1.00,1.00,1.0,0.65,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.585,0.6175,0.52,0.5525,0.533
1198,7157,12,15,1.00,1.00,1.0,0.75,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.675,0.7125,0.60,0.6375,0.615
1199,14819,12000,15,1.00,0.80,1.0,1.00,1.0,0.95,1.0,...,1.0,0.95,1.0,0.85,0.82,1.000,0.9500,1.00,0.8500,0.820

In [54]:
jbc_and_far_prob_

,Avg Account Balance ($),12_bool,15_bool,Branch A Ret. Prob.,Branch B Ret. Prob.,Branch C Ret. Prob.,Branch D Ret. Prob.,"$12,000 and $40 prob","$15,000 and $40 prob","$12,000 & $60 prob.",...,C- $12000 Min and $40 Fee Retention Prob.,C- $15000 Min and $40 Fee Retention Prob.,C- $12000 Min and $60 Fee Retention Prob.,C- $15000 Min and $60 Fee Retention Prob.,C- $15000 Min and $60 Fee(0.18) Retention Prob.,D- $12000 Min and $40 Fee Retention Prob.,D- $15000 Min and $40 Fee Retention Prob.,D- $12000 Min and $60 Fee Retention Prob.,D- $15000 Min and $60 Fee Retention Prob.,D- $15000 Min and $60 Fee(0.18) Retention Prob.
Account,,,,,,,,,,,,,,,,,,,,,
1000,8000,12,15,1.00,1.00,1.0,0.60,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.540,0.5700,0.48,0.5100,0.492
1001,13000,12000,15,1.00,1.00,1.0,0.80,1.0,0.95,1.0,...,1.0,0.95,1.0,0.85,0.82,0.800,0.7600,0.80,0.6800,0.656
1002,30000,12000,15000,1.00,0.60,1.0,1.00,1.0,1.00,1.0,...,1.0,1.00,1.0,1.00,1.00,1.000,1.0000,1.00,1.0000,1.000
1003,14833,12000,15,1.00,0.80,1.0,1.00,1.0,0.95,1.0,...,1.0,0.95,1.0,0.85,0.82,1.000,0.9500,1.00,0.8500,0.820
1004,16851,12000,15000,0.65,1.00,1.0,1.00,1.0,1.00,1.0,...,1.0,1.00,1.0,1.00,1.00,1.000,1.0000,1.00,1.0000,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,11003,12,15,1.00,0.70,1.0,1.00,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.900,0.9500,0.80,0.8500,0.820
1196,11444,12,15,1.00,0.65,1.0,1.00,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.900,0.9500,0.80,0.8500,0.820
1197,9933,12,15,1.00,1.00,1.0,0.65,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.585,0.6175,0.52,0.5525,0.533
1198,7157,12,15,1.00,1.00,1.0,0.75,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.675,0.7125,0.60,0.6375,0.615
1199,14819,12000,15,1.00,0.80,1.0,1.00,1.0,0.95,1.0,...,1.0,0.95,1.0,0.85,0.82,1.000,0.9500,1.00,0.8500,0.820

In [55]:
jbc_and_far_prob_F= jbc_and_far_prob_.round(2)
jbc_and_far_prob_F

,Avg Account Balance ($),12_bool,15_bool,Branch A Ret. Prob.,Branch B Ret. Prob.,Branch C Ret. Prob.,Branch D Ret. Prob.,"$12,000 and $40 prob","$15,000 and $40 prob","$12,000 & $60 prob.",...,C- $12000 Min and $40 Fee Retention Prob.,C- $15000 Min and $40 Fee Retention Prob.,C- $12000 Min and $60 Fee Retention Prob.,C- $15000 Min and $60 Fee Retention Prob.,C- $15000 Min and $60 Fee(0.18) Retention Prob.,D- $12000 Min and $40 Fee Retention Prob.,D- $15000 Min and $40 Fee Retention Prob.,D- $12000 Min and $60 Fee Retention Prob.,D- $15000 Min and $60 Fee Retention Prob.,D- $15000 Min and $60 Fee(0.18) Retention Prob.
Account,,,,,,,,,,,,,,,,,,,,,
1000,8000,12,15,1.00,1.00,1.0,0.60,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.54,0.57,0.48,0.51,0.49
1001,13000,12000,15,1.00,1.00,1.0,0.80,1.0,0.95,1.0,...,1.0,0.95,1.0,0.85,0.82,0.80,0.76,0.80,0.68,0.66
1002,30000,12000,15000,1.00,0.60,1.0,1.00,1.0,1.00,1.0,...,1.0,1.00,1.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00
1003,14833,12000,15,1.00,0.80,1.0,1.00,1.0,0.95,1.0,...,1.0,0.95,1.0,0.85,0.82,1.00,0.95,1.00,0.85,0.82
1004,16851,12000,15000,0.65,1.00,1.0,1.00,1.0,1.00,1.0,...,1.0,1.00,1.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,11003,12,15,1.00,0.70,1.0,1.00,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.90,0.95,0.80,0.85,0.82
1196,11444,12,15,1.00,0.65,1.0,1.00,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.90,0.95,0.80,0.85,0.82
1197,9933,12,15,1.00,1.00,1.0,0.65,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.59,0.62,0.52,0.55,0.53
1198,7157,12,15,1.00,1.00,1.0,0.75,0.9,0.95,0.8,...,0.9,0.95,0.8,0.85,0.82,0.68,0.71,0.60,0.64,0.62
1199,14819,12000,15,1.00,0.80,1.0,1.00,1.0,0.95,1.0,...,1.0,0.95,1.0,0.85,0.82,1.00,0.95,1.00,0.85,0.82

#Phase 2- *Financial Model*

In [56]:
print(accinfo_w_Bclosure_prob.groupby(['Closest Branch'])['Avg Account Balance ($)'].count().sort_values(ascending=False))
pd.DataFrame(accinfo_w_Bclosure_prob.groupby(['Closest Branch'])['Avg Account Balance ($)'].mean().sort_values(ascending=False))

Closest Branch
Branch D    74
Branch B    50
Branch C    47
Branch A    29
Name: Avg Account Balance ($), dtype: int64

                Avg Account Balance ($)
Closest Branch
Branch A                   23098.206897
Branch B                   17446.000000
Branch C                   14095.489362
Branch D                   11262.594595

In [57]:
assembled_Data_and_Retmodel= pd.merge(accinfo_w_Bclosure_prob,jbc_and_far_prob_F,on='Account')
assembled_Data_and_Retmodel.columns

Index(['Dist. to Closest Branch (mi)', 'Avg Account Balance ($)_x',
       'Years as Customer', 'Distance to Branch A (mi)',
       'Distance to Branch B (mi)', 'Distance to Branch C (mi)',
       'Distance to Branch D (mi)', 'Closest Branch',
       'Inc. Distance to 2nd Closest Branch (mi)', '2nd Closest Branch',
       'Branch A Ret. Prob._x', 'Branch B Ret. Prob._x',
       'Branch C Ret. Prob._x', 'Branch D Ret. Prob._x',
       'Avg Account Balance ($)_y', '12_bool', '15_bool',
       'Branch A Ret. Prob._y', 'Branch B Ret. Prob._y',
       'Branch C Ret. Prob._y', 'Branch D Ret. Prob._y',
       '$12,000 and $40 prob', '$15,000 and $40 prob', '$12,000 & $60 prob.',
       '$15,000 and $60 prob', '$15,000 and $60 prob (0.18)',
       'A- $12000 Min and $40 Fee Retention Prob.',
       'A- $15000 Min and $40 Fee Retention Prob.',
       'A- $12000 Min and $60 Fee Retention Prob.',
       'A- $15000 Min and $60 Fee Retention Prob.',
       'A- $15000 Min and $60 Fee(0.18) Retention Prob.',
       'B- $12000 Min and $40 Fee Retention Prob.',
       'B- $15000 Min and $40 Fee Retention Prob.',
       'B- $12000 Min and $60 Fee Retention Prob.',
       'B- $15000 Min and $60 Fee Retention Prob.',
       'B- $15000 Min and $60 Fee(0.18) Retention Prob.',
       'C- $12000 Min and $40 Fee Retention Prob.',
       'C- $15000 Min and $40 Fee Retention Prob.',
       'C- $12000 Min and $60 Fee Retention Prob.',
       'C- $15000 Min and $60 Fee Retention Prob.',
       'C- $15000 Min and $60 Fee(0.18) Retention Prob.',
       'D- $12000 Min and $40 Fee Retention Prob.',
       'D- $15000 Min and $40 Fee Retention Prob.',
       'D- $12000 Min and $60 Fee Retention Prob.',
       'D- $15000 Min and $60 Fee Retention Prob.',
       'D- $15000 Min and $60 Fee(0.18) Retention Prob.'],
      dtype='object')

In [58]:
assembled_Data_and_Retmodel.drop(['Branch C Ret. Prob._y','Branch D Ret. Prob._y','Avg Account Balance ($)_y'],axis=1,inplace=True)
assembled_Data_and_Retmodel.drop(['Branch A Ret. Prob._y','Branch B Ret. Prob._y'],axis=1,inplace=True)

In [59]:
assembled_Data_and_Retmodel.rename(columns={'$12,000 & $60 prob.':'$12,000 and $60 prob'},inplace=True)

In [60]:
#Net Interest Income
assembled_Data_and_Retmodel['Net Interest Income']= assembled_Data_and_Retmodel['Avg Account Balance ($)_x'] * 0.01
assembled_Data_and_Retmodel

,Dist. to Closest Branch (mi),Avg Account Balance ($)_x,Years as Customer,Distance to Branch A (mi),Distance to Branch B (mi),Distance to Branch C (mi),Distance to Branch D (mi),Closest Branch,Inc. Distance to 2nd Closest Branch (mi),2nd Closest Branch,...,C- $15000 Min and $40 Fee Retention Prob.,C- $12000 Min and $60 Fee Retention Prob.,C- $15000 Min and $60 Fee Retention Prob.,C- $15000 Min and $60 Fee(0.18) Retention Prob.,D- $12000 Min and $40 Fee Retention Prob.,D- $15000 Min and $40 Fee Retention Prob.,D- $12000 Min and $60 Fee Retention Prob.,D- $15000 Min and $60 Fee Retention Prob.,D- $15000 Min and $60 Fee(0.18) Retention Prob.,Net Interest Income
Account,,,,,,,,,,,,,,,,,,,,,
1000,1.83,8000,0.85,6.09,2.12,2.85,1.83,Branch D,0.29,Branch B,...,0.95,0.8,0.85,0.82,0.54,0.57,0.48,0.51,0.49,80.00
1001,0.19,13000,13.13,4.31,0.30,2.66,0.19,Branch D,0.11,Branch B,...,0.95,1.0,0.85,0.82,0.80,0.76,0.80,0.68,0.66,130.00
1002,0.98,30000,4.21,3.81,0.98,2.63,3.07,Branch B,1.65,Branch C,...,1.00,1.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,300.00
1003,0.65,14833,6.41,2.73,0.65,0.76,1.70,Branch B,0.11,Branch C,...,0.95,1.0,0.85,0.82,1.00,0.95,1.00,0.85,0.82,148.33
1004,0.31,16851,14.09,0.31,4.35,4.78,2.31,Branch A,2.00,Branch D,...,1.00,1.0,1.00,1.00,1.00,1.00,1.00,1.00,1.00,168.51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,2.31,11003,7.04,3.78,2.31,3.08,3.74,Branch B,0.77,Branch C,...,0.95,0.8,0.85,0.82,0.90,0.95,0.80,0.85,0.82,110.03
1196,1.43,11444,0.35,6.62,1.43,1.53,1.96,Branch B,0.10,Branch C,...,0.95,0.8,0.85,0.82,0.90,0.95,0.80,0.85,0.82,114.44
1197,0.31,9933,3.37,0.86,2.50,4.90,0.31,Branch D,0.55,Branch A,...,0.95,0.8,0.85,0.82,0.59,0.62,0.52,0.55,0.53,99.33
1198,1.37,7157,6.61,6.66,1.78,3.67,1.37,Branch D,0.41,Branch B,...,0.95,0.8,0.85,0.82,0.68,0.71,0.60,0.64,0.62,71.57
1199,0.21,14819,10.08,4.67,0.21,2.57,0.27,Branch B,0.06,Branch D,...,0.95,1.0,0.85,0.82,1.00,0.95,1.00,0.85,0.82,148.19

In [61]:
account_f= assembled_Data_and_Retmodel[['Avg Account Balance ($)_x','12_bool','15_bool','A- $12000 Min and $40 Fee Retention Prob.','B- $12000 Min and $40 Fee Retention Prob.','C- $12000 Min and $40 Fee Retention Prob.'
                              ,'D- $12000 Min and $40 Fee Retention Prob.','A- $15000 Min and $40 Fee Retention Prob.','B- $15000 Min and $40 Fee Retention Prob.','C- $15000 Min and $40 Fee Retention Prob.'
                              ,'D- $15000 Min and $40 Fee Retention Prob.','A- $12000 Min and $60 Fee Retention Prob.','B- $12000 Min and $60 Fee Retention Prob.','C- $12000 Min and $60 Fee Retention Prob.'
                              ,'D- $12000 Min and $60 Fee Retention Prob.','A- $15000 Min and $60 Fee Retention Prob.','B- $15000 Min and $60 Fee Retention Prob.'
                              ,'C- $15000 Min and $60 Fee Retention Prob.','D- $15000 Min and $60 Fee Retention Prob.','A- $15000 Min and $60 Fee(0.18) Retention Prob.','B- $15000 Min and $60 Fee(0.18) Retention Prob.'
                              ,'C- $15000 Min and $60 Fee(0.18) Retention Prob.','D- $15000 Min and $60 Fee(0.18) Retention Prob.','Net Interest Income',]]

In [62]:
#12&15 = avg balance <12000 and <15000
#12000&15 = avg balance >12000 and <15000
#12000&15000 = avg balance >12000 and >15000
def feescenario1(account_f):
  if account_f['12_bool']== 12 and account_f['15_bool']==15:
    return 40
  else:
    return 0
def feescenario2(account_f):
  if account_f['Avg Account Balance ($)_x'] <15000:
    return 40
  else:
    return 0
def feescenario3(account_f):
  if account_f['12_bool']== 12 and account_f['15_bool']==15:
    return 60
  else:
    return 0
def feescenario4(account_f):
  if account_f['Avg Account Balance ($)_x'] <15000:
    return 60
  else:
    return 0

In [63]:
account_f['Scenario 1(12000x40)']= account_f.apply(feescenario1,axis=1)
account_f['Scenario 2(15000x40)']= account_f.apply(feescenario2,axis=1)
account_f['Scenario 3(12000x60)']= account_f.apply(feescenario3,axis=1)
account_f['Scenario 4(15000x60)']= account_f.apply(feescenario4,axis=1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [64]:
account_f

,Avg Account Balance ($)_x,12_bool,15_bool,A- $12000 Min and $40 Fee Retention Prob.,B- $12000 Min and $40 Fee Retention Prob.,C- $12000 Min and $40 Fee Retention Prob.,D- $12000 Min and $40 Fee Retention Prob.,A- $15000 Min and $40 Fee Retention Prob.,B- $15000 Min and $40 Fee Retention Prob.,C- $15000 Min and $40 Fee Retention Prob.,...,D- $15000 Min and $60 Fee Retention Prob.,A- $15000 Min and $60 Fee(0.18) Retention Prob.,B- $15000 Min and $60 Fee(0.18) Retention Prob.,C- $15000 Min and $60 Fee(0.18) Retention Prob.,D- $15000 Min and $60 Fee(0.18) Retention Prob.,Net Interest Income,Scenario 1(12000x40),Scenario 2(15000x40),Scenario 3(12000x60),Scenario 4(15000x60)
Account,,,,,,,,,,,,,,,,,,,,,
1000,8000,12,15,0.90,0.90,0.9,0.54,0.95,0.95,0.95,...,0.51,0.82,0.82,0.82,0.49,80.00,40,40,60,60
1001,13000,12000,15,1.00,1.00,1.0,0.80,0.95,0.95,0.95,...,0.68,0.82,0.82,0.82,0.66,130.00,0,40,0,60
1002,30000,12000,15000,1.00,0.60,1.0,1.00,1.00,0.60,1.00,...,1.00,1.00,0.60,1.00,1.00,300.00,0,0,0,0
1003,14833,12000,15,1.00,0.80,1.0,1.00,0.95,0.76,0.95,...,0.85,0.82,0.66,0.82,0.82,148.33,0,40,0,60
1004,16851,12000,15000,0.65,1.00,1.0,1.00,0.65,1.00,1.00,...,1.00,0.65,1.00,1.00,1.00,168.51,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,11003,12,15,0.90,0.63,0.9,0.90,0.95,0.66,0.95,...,0.85,0.82,0.57,0.82,0.82,110.03,40,40,60,60
1196,11444,12,15,0.90,0.59,0.9,0.90,0.95,0.62,0.95,...,0.85,0.82,0.53,0.82,0.82,114.44,40,40,60,60
1197,9933,12,15,0.90,0.90,0.9,0.59,0.95,0.95,0.95,...,0.55,0.82,0.82,0.82,0.53,99.33,40,40,60,60
1198,7157,12,15,0.90,0.90,0.9,0.68,0.95,0.95,0.95,...,0.64,0.82,0.82,0.82,0.62,71.57,40,40,60,60
1199,14819,12000,15,1.00,0.80,1.0,1.00,0.95,0.76,0.95,...,0.85,0.82,0.66,0.82,0.82,148.19,0,40,0,60

In [65]:
#Account Fees
accountF_scenarios= account_f[['Avg Account Balance ($)_x','Net Interest Income','Scenario 1(12000x40)','Scenario 2(15000x40)','Scenario 3(12000x60)','Scenario 4(15000x60)']]
print(accountF_scenarios['Scenario 1(12000x40)'].sum())
print(accountF_scenarios['Scenario 2(15000x40)'].sum())
print(accountF_scenarios['Scenario 3(12000x60)'].sum())
print(accountF_scenarios['Scenario 4(15000x60)'].sum())
accountF_scenarios

3440
4840
5160
7260

,Avg Account Balance ($)_x,Net Interest Income,Scenario 1(12000x40),Scenario 2(15000x40),Scenario 3(12000x60),Scenario 4(15000x60)
Account,,,,,,
1000,8000,80.00,40,40,60,60
1001,13000,130.00,0,40,0,60
1002,30000,300.00,0,0,0,0
1003,14833,148.33,0,40,0,60
1004,16851,168.51,0,0,0,0
...,...,...,...,...,...,...
1195,11003,110.03,40,40,60,60
1196,11444,114.44,40,40,60,60
1197,9933,99.33,40,40,60,60
1198,7157,71.57,40,40,60,60
1199,14819,148.19,0,40,0,60

In [66]:
accountF_scenarios['Scenario 1(12000x40) Variable Margin']= accountF_scenarios['Net Interest Income'] + accountF_scenarios['Scenario 1(12000x40)'] - 50
accountF_scenarios['Scenario 2(15000x40) Variable Margin']= accountF_scenarios['Net Interest Income'] + accountF_scenarios['Scenario 2(15000x40)'] - 50
accountF_scenarios['Scenario 3(12000x60) Variable Margin']= accountF_scenarios['Net Interest Income'] + accountF_scenarios['Scenario 3(12000x60)'] - 50
accountF_scenarios['Scenario 4(15000x60) Variable Margin']= accountF_scenarios['Net Interest Income'] + accountF_scenarios['Scenario 4(15000x60)'] - 50

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [67]:
accountF_scenarios
print(accountF_scenarios['Scenario 1(12000x40) Variable Margin'].sum())
print(accountF_scenarios['Scenario 2(15000x40) Variable Margin'].sum())
print(accountF_scenarios['Scenario 3(12000x60) Variable Margin'].sum())
print(accountF_scenarios['Scenario 4(15000x60) Variable Margin'].sum())
accountF_scenarios

23820.68
25220.68
25540.68
27640.68

,Avg Account Balance ($)_x,Net Interest Income,Scenario 1(12000x40),Scenario 2(15000x40),Scenario 3(12000x60),Scenario 4(15000x60),Scenario 1(12000x40) Variable Margin,Scenario 2(15000x40) Variable Margin,Scenario 3(12000x60) Variable Margin,Scenario 4(15000x60) Variable Margin
Account,,,,,,,,,,
1000,8000,80.00,40,40,60,60,70.00,70.00,90.00,90.00
1001,13000,130.00,0,40,0,60,80.00,120.00,80.00,140.00
1002,30000,300.00,0,0,0,0,250.00,250.00,250.00,250.00
1003,14833,148.33,0,40,0,60,98.33,138.33,98.33,158.33
1004,16851,168.51,0,0,0,0,118.51,118.51,118.51,118.51
...,...,...,...,...,...,...,...,...,...,...
1195,11003,110.03,40,40,60,60,100.03,100.03,120.03,120.03
1196,11444,114.44,40,40,60,60,104.44,104.44,124.44,124.44
1197,9933,99.33,40,40,60,60,89.33,89.33,109.33,109.33
1198,7157,71.57,40,40,60,60,61.57,61.57,81.57,81.57
1199,14819,148.19,0,40,0,60,98.19,138.19,98.19,158.19

In [68]:
accountF_scenarios_round= accountF_scenarios.round({'Scenario 1(12000x40) Variable Margin':0,'Scenario 2(15000x40) Variable Margin':0,'Scenario 3(12000x60) Variable Margin':0,'Scenario 4(15000x60) Variable Margin':0})
print(accountF_scenarios_round['Scenario 1(12000x40) Variable Margin'].sum())
print(accountF_scenarios_round['Scenario 2(15000x40) Variable Margin'].sum())
print(accountF_scenarios_round['Scenario 3(12000x60) Variable Margin'].sum())
print(accountF_scenarios_round['Scenario 4(15000x60) Variable Margin'].sum())
accountF_scenarios_round

23820.0
25220.0
25540.0
27640.0

,Avg Account Balance ($)_x,Net Interest Income,Scenario 1(12000x40),Scenario 2(15000x40),Scenario 3(12000x60),Scenario 4(15000x60),Scenario 1(12000x40) Variable Margin,Scenario 2(15000x40) Variable Margin,Scenario 3(12000x60) Variable Margin,Scenario 4(15000x60) Variable Margin
Account,,,,,,,,,,
1000,8000,80.00,40,40,60,60,70.0,70.0,90.0,90.0
1001,13000,130.00,0,40,0,60,80.0,120.0,80.0,140.0
1002,30000,300.00,0,0,0,0,250.0,250.0,250.0,250.0
1003,14833,148.33,0,40,0,60,98.0,138.0,98.0,158.0
1004,16851,168.51,0,0,0,0,119.0,119.0,119.0,119.0
...,...,...,...,...,...,...,...,...,...,...
1195,11003,110.03,40,40,60,60,100.0,100.0,120.0,120.0
1196,11444,114.44,40,40,60,60,104.0,104.0,124.0,124.0
1197,9933,99.33,40,40,60,60,89.0,89.0,109.0,109.0
1198,7157,71.57,40,40,60,60,62.0,62.0,82.0,82.0
1199,14819,148.19,0,40,0,60,98.0,138.0,98.0,158.0

In [69]:
assembled_Data_and_Retmodel_0= assembled_Data_and_Retmodel[['A- $12000 Min and $40 Fee Retention Prob.','A- $15000 Min and $40 Fee Retention Prob.','A- $12000 Min and $60 Fee Retention Prob.','A- $15000 Min and $60 Fee Retention Prob.','B- $12000 Min and $40 Fee Retention Prob.',
        'B- $15000 Min and $40 Fee Retention Prob.','B- $12000 Min and $60 Fee Retention Prob.','B- $15000 Min and $60 Fee Retention Prob.','C- $12000 Min and $40 Fee Retention Prob.','C- $15000 Min and $40 Fee Retention Prob.','C- $12000 Min and $60 Fee Retention Prob.',
        'C- $15000 Min and $60 Fee Retention Prob.','D- $12000 Min and $40 Fee Retention Prob.','D- $15000 Min and $40 Fee Retention Prob.', 'D- $12000 Min and $60 Fee Retention Prob.', 'D- $15000 Min and $60 Fee Retention Prob.','D- $15000 Min and $60 Fee(0.18) Retention Prob.',
        'A- $15000 Min and $60 Fee(0.18) Retention Prob.','B- $15000 Min and $60 Fee(0.18) Retention Prob.','C- $15000 Min and $60 Fee(0.18) Retention Prob.','D- $15000 Min and $60 Fee(0.18) Retention Prob.']]
assembled_Data_and_Retmodel_0

,A- $12000 Min and $40 Fee Retention Prob.,A- $15000 Min and $40 Fee Retention Prob.,A- $12000 Min and $60 Fee Retention Prob.,A- $15000 Min and $60 Fee Retention Prob.,B- $12000 Min and $40 Fee Retention Prob.,B- $15000 Min and $40 Fee Retention Prob.,B- $12000 Min and $60 Fee Retention Prob.,B- $15000 Min and $60 Fee Retention Prob.,C- $12000 Min and $40 Fee Retention Prob.,C- $15000 Min and $40 Fee Retention Prob.,...,C- $15000 Min and $60 Fee Retention Prob.,D- $12000 Min and $40 Fee Retention Prob.,D- $15000 Min and $40 Fee Retention Prob.,D- $12000 Min and $60 Fee Retention Prob.,D- $15000 Min and $60 Fee Retention Prob.,D- $15000 Min and $60 Fee(0.18) Retention Prob.,A- $15000 Min and $60 Fee(0.18) Retention Prob.,B- $15000 Min and $60 Fee(0.18) Retention Prob.,C- $15000 Min and $60 Fee(0.18) Retention Prob.,D- $15000 Min and $60 Fee(0.18) Retention Prob.
Account,,,,,,,,,,,,,,,,,,,,,
1000,0.90,0.95,0.80,0.85,0.90,0.95,0.80,0.85,0.9,0.95,...,0.85,0.54,0.57,0.48,0.51,0.49,0.82,0.82,0.82,0.49
1001,1.00,0.95,1.00,0.85,1.00,0.95,1.00,0.85,1.0,0.95,...,0.85,0.80,0.76,0.80,0.68,0.66,0.82,0.82,0.82,0.66
1002,1.00,1.00,1.00,1.00,0.60,0.60,0.60,0.60,1.0,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,0.60,1.00,1.00
1003,1.00,0.95,1.00,0.85,0.80,0.76,0.80,0.68,1.0,0.95,...,0.85,1.00,0.95,1.00,0.85,0.82,0.82,0.66,0.82,0.82
1004,0.65,0.65,0.65,0.65,1.00,1.00,1.00,1.00,1.0,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,0.65,1.00,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,0.90,0.95,0.80,0.85,0.63,0.66,0.56,0.60,0.9,0.95,...,0.85,0.90,0.95,0.80,0.85,0.82,0.82,0.57,0.82,0.82
1196,0.90,0.95,0.80,0.85,0.59,0.62,0.52,0.55,0.9,0.95,...,0.85,0.90,0.95,0.80,0.85,0.82,0.82,0.53,0.82,0.82
1197,0.90,0.95,0.80,0.85,0.90,0.95,0.80,0.85,0.9,0.95,...,0.85,0.59,0.62,0.52,0.55,0.53,0.82,0.82,0.82,0.53
1198,0.90,0.95,0.80,0.85,0.90,0.95,0.80,0.85,0.9,0.95,...,0.85,0.68,0.71,0.60,0.64,0.62,0.82,0.82,0.82,0.62
1199,1.00,0.95,1.00,0.85,0.80,0.76,0.80,0.68,1.0,0.95,...,0.85,1.00,0.95,1.00,0.85,0.82,0.82,0.66,0.82,0.82

In [70]:
scenarios_df= pd.DataFrame(accountF_scenarios_round[['Scenario 1(12000x40)','Scenario 2(15000x40)','Scenario 3(12000x60)','Scenario 4(15000x60)', 'Scenario 1(12000x40) Variable Margin','Scenario 2(15000x40) Variable Margin','Scenario 3(12000x60) Variable Margin', 'Scenario 4(15000x60) Variable Margin']])
scenarios_df

,Scenario 1(12000x40),Scenario 2(15000x40),Scenario 3(12000x60),Scenario 4(15000x60),Scenario 1(12000x40) Variable Margin,Scenario 2(15000x40) Variable Margin,Scenario 3(12000x60) Variable Margin,Scenario 4(15000x60) Variable Margin
Account,,,,,,,,
1000,40,40,60,60,70.0,70.0,90.0,90.0
1001,0,40,0,60,80.0,120.0,80.0,140.0
1002,0,0,0,0,250.0,250.0,250.0,250.0
1003,0,40,0,60,98.0,138.0,98.0,158.0
1004,0,0,0,0,119.0,119.0,119.0,119.0
...,...,...,...,...,...,...,...,...
1195,40,40,60,60,100.0,100.0,120.0,120.0
1196,40,40,60,60,104.0,104.0,124.0,124.0
1197,40,40,60,60,89.0,89.0,109.0,109.0
1198,40,40,60,60,62.0,62.0,82.0,82.0
1199,0,40,0,60,98.0,138.0,98.0,158.0

In [71]:
ad_retmodel_with_scenarios= pd.merge(assembled_Data_and_Retmodel,scenarios_df,on='Account')
ad_retmodel_with_scenarios

,Dist. to Closest Branch (mi),Avg Account Balance ($)_x,Years as Customer,Distance to Branch A (mi),Distance to Branch B (mi),Distance to Branch C (mi),Distance to Branch D (mi),Closest Branch,Inc. Distance to 2nd Closest Branch (mi),2nd Closest Branch,...,D- $15000 Min and $60 Fee(0.18) Retention Prob.,Net Interest Income,Scenario 1(12000x40),Scenario 2(15000x40),Scenario 3(12000x60),Scenario 4(15000x60),Scenario 1(12000x40) Variable Margin,Scenario 2(15000x40) Variable Margin,Scenario 3(12000x60) Variable Margin,Scenario 4(15000x60) Variable Margin
Account,,,,,,,,,,,,,,,,,,,,,
1000,1.83,8000,0.85,6.09,2.12,2.85,1.83,Branch D,0.29,Branch B,...,0.49,80.00,40,40,60,60,70.0,70.0,90.0,90.0
1001,0.19,13000,13.13,4.31,0.30,2.66,0.19,Branch D,0.11,Branch B,...,0.66,130.00,0,40,0,60,80.0,120.0,80.0,140.0
1002,0.98,30000,4.21,3.81,0.98,2.63,3.07,Branch B,1.65,Branch C,...,1.00,300.00,0,0,0,0,250.0,250.0,250.0,250.0
1003,0.65,14833,6.41,2.73,0.65,0.76,1.70,Branch B,0.11,Branch C,...,0.82,148.33,0,40,0,60,98.0,138.0,98.0,158.0
1004,0.31,16851,14.09,0.31,4.35,4.78,2.31,Branch A,2.00,Branch D,...,1.00,168.51,0,0,0,0,119.0,119.0,119.0,119.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,2.31,11003,7.04,3.78,2.31,3.08,3.74,Branch B,0.77,Branch C,...,0.82,110.03,40,40,60,60,100.0,100.0,120.0,120.0
1196,1.43,11444,0.35,6.62,1.43,1.53,1.96,Branch B,0.10,Branch C,...,0.82,114.44,40,40,60,60,104.0,104.0,124.0,124.0
1197,0.31,9933,3.37,0.86,2.50,4.90,0.31,Branch D,0.55,Branch A,...,0.53,99.33,40,40,60,60,89.0,89.0,109.0,109.0
1198,1.37,7157,6.61,6.66,1.78,3.67,1.37,Branch D,0.41,Branch B,...,0.62,71.57,40,40,60,60,62.0,62.0,82.0,82.0
1199,0.21,14819,10.08,4.67,0.21,2.57,0.27,Branch B,0.06,Branch D,...,0.82,148.19,0,40,0,60,98.0,138.0,98.0,158.0

In [72]:
ad_retmodel_with_scenarios['Ex Var Margin: A- $12000 Min and $40']= ad_retmodel_with_scenarios['Scenario 1(12000x40) Variable Margin'] * ad_retmodel_with_scenarios['A- $12000 Min and $40 Fee Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: B- $12000 Min and $40']= ad_retmodel_with_scenarios['Scenario 1(12000x40) Variable Margin'] * ad_retmodel_with_scenarios['B- $12000 Min and $40 Fee Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: C- $12000 Min and $40']= ad_retmodel_with_scenarios['Scenario 1(12000x40) Variable Margin'] * ad_retmodel_with_scenarios['C- $12000 Min and $40 Fee Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: D- $12000 Min and $40']= ad_retmodel_with_scenarios['Scenario 1(12000x40) Variable Margin'] * ad_retmodel_with_scenarios['D- $12000 Min and $40 Fee Retention Prob.']

ad_retmodel_with_scenarios['Ex Var Margin: A- $15000 Min and $40']= ad_retmodel_with_scenarios['Scenario 2(15000x40) Variable Margin'] * ad_retmodel_with_scenarios['A- $15000 Min and $40 Fee Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: B- $15000 Min and $40']= ad_retmodel_with_scenarios['Scenario 2(15000x40) Variable Margin'] * ad_retmodel_with_scenarios['B- $15000 Min and $40 Fee Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: C- $15000 Min and $40']= ad_retmodel_with_scenarios['Scenario 2(15000x40) Variable Margin'] * ad_retmodel_with_scenarios['C- $15000 Min and $40 Fee Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: D- $15000 Min and $40']= ad_retmodel_with_scenarios['Scenario 2(15000x40) Variable Margin'] * ad_retmodel_with_scenarios['D- $15000 Min and $40 Fee Retention Prob.']

ad_retmodel_with_scenarios['Ex Var Margin: A- $12000 Min and $60']= ad_retmodel_with_scenarios['Scenario 3(12000x60) Variable Margin'] * ad_retmodel_with_scenarios['A- $12000 Min and $60 Fee Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: B- $12000 Min and $60']= ad_retmodel_with_scenarios['Scenario 3(12000x60) Variable Margin'] * ad_retmodel_with_scenarios['B- $12000 Min and $60 Fee Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: C- $12000 Min and $60']= ad_retmodel_with_scenarios['Scenario 3(12000x60) Variable Margin'] * ad_retmodel_with_scenarios['C- $12000 Min and $60 Fee Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: D- $12000 Min and $60']= ad_retmodel_with_scenarios['Scenario 3(12000x60) Variable Margin'] * ad_retmodel_with_scenarios['D- $12000 Min and $60 Fee Retention Prob.']

ad_retmodel_with_scenarios['Ex Var Margin: A- $15000 Min and $60']= ad_retmodel_with_scenarios['Scenario 4(15000x60) Variable Margin'] * ad_retmodel_with_scenarios['A- $15000 Min and $60 Fee Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: B- $15000 Min and $60']= ad_retmodel_with_scenarios['Scenario 4(15000x60) Variable Margin'] * ad_retmodel_with_scenarios['B- $15000 Min and $60 Fee Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: C- $15000 Min and $60']= ad_retmodel_with_scenarios['Scenario 4(15000x60) Variable Margin'] * ad_retmodel_with_scenarios['C- $15000 Min and $60 Fee Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: D- $15000 Min and $60']= ad_retmodel_with_scenarios['Scenario 4(15000x60) Variable Margin'] * ad_retmodel_with_scenarios['D- $15000 Min and $60 Fee Retention Prob.']

ad_retmodel_with_scenarios['Ex Var Margin: A- $15000 Min and $60 (0.18)']= ad_retmodel_with_scenarios['Scenario 4(15000x60) Variable Margin'] * ad_retmodel_with_scenarios['A- $15000 Min and $60 Fee(0.18) Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: B- $15000 Min and $60 (0.18)']= ad_retmodel_with_scenarios['Scenario 4(15000x60) Variable Margin'] * ad_retmodel_with_scenarios['B- $15000 Min and $60 Fee(0.18) Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: C- $15000 Min and $60 (0.18)']= ad_retmodel_with_scenarios['Scenario 4(15000x60) Variable Margin'] * ad_retmodel_with_scenarios['C- $15000 Min and $60 Fee(0.18) Retention Prob.']
ad_retmodel_with_scenarios['Ex Var Margin: D- $15000 Min and $60 (0.18)']= ad_retmodel_with_scenarios['Scenario 4(15000x60) Variable Margin'] * ad_retmodel_with_scenarios['D- $15000 Min and $60 Fee(0.18) Retention Prob.']

In [73]:
ad_retmodel_with_scenarios[['Ex Var Margin: A- $12000 Min and $40','Ex Var Margin: B- $12000 Min and $40','Ex Var Margin: C- $12000 Min and $40','Ex Var Margin: D- $12000 Min and $40', 'Ex Var Margin: A- $15000 Min and $40',
       'Ex Var Margin: B- $15000 Min and $40','Ex Var Margin: C- $15000 Min and $40','Ex Var Margin: D- $15000 Min and $40', 'Ex Var Margin: A- $12000 Min and $60', 'Ex Var Margin: B- $12000 Min and $60', 'Ex Var Margin: C- $12000 Min and $60',
       'Ex Var Margin: D- $12000 Min and $60','Ex Var Margin: A- $15000 Min and $60', 'Ex Var Margin: B- $15000 Min and $60','Ex Var Margin: C- $15000 Min and $60','Ex Var Margin: D- $15000 Min and $60'
       ,'Ex Var Margin: A- $15000 Min and $60 (0.18)','Ex Var Margin: B- $15000 Min and $60 (0.18)','Ex Var Margin: C- $15000 Min and $60 (0.18)','Ex Var Margin: D- $15000 Min and $60 (0.18)']]

,Ex Var Margin: A- $12000 Min and $40,Ex Var Margin: B- $12000 Min and $40,Ex Var Margin: C- $12000 Min and $40,Ex Var Margin: D- $12000 Min and $40,Ex Var Margin: A- $15000 Min and $40,Ex Var Margin: B- $15000 Min and $40,Ex Var Margin: C- $15000 Min and $40,Ex Var Margin: D- $15000 Min and $40,Ex Var Margin: A- $12000 Min and $60,Ex Var Margin: B- $12000 Min and $60,Ex Var Margin: C- $12000 Min and $60,Ex Var Margin: D- $12000 Min and $60,Ex Var Margin: A- $15000 Min and $60,Ex Var Margin: B- $15000 Min and $60,Ex Var Margin: C- $15000 Min and $60,Ex Var Margin: D- $15000 Min and $60,Ex Var Margin: A- $15000 Min and $60 (0.18),Ex Var Margin: B- $15000 Min and $60 (0.18),Ex Var Margin: C- $15000 Min and $60 (0.18),Ex Var Margin: D- $15000 Min and $60 (0.18)
Account,,,,,,,,,,,,,,,,,,,,
1000,63.00,63.00,63.0,37.80,66.50,66.50,66.50,39.90,72.00,72.00,72.0,43.20,76.50,76.50,76.50,45.90,73.80,73.80,73.80,44.10
1001,80.00,80.00,80.0,64.00,114.00,114.00,114.00,91.20,80.00,80.00,80.0,64.00,119.00,119.00,119.00,95.20,114.80,114.80,114.80,92.40
1002,250.00,150.00,250.0,250.00,250.00,150.00,250.00,250.00,250.00,150.00,250.0,250.00,250.00,150.00,250.00,250.00,250.00,150.00,250.00,250.00
1003,98.00,78.40,98.0,98.00,131.10,104.88,131.10,131.10,98.00,78.40,98.0,98.00,134.30,107.44,134.30,134.30,129.56,104.28,129.56,129.56
1004,77.35,119.00,119.0,119.00,77.35,119.00,119.00,119.00,77.35,119.00,119.0,119.00,77.35,119.00,119.00,119.00,77.35,119.00,119.00,119.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,90.00,63.00,90.0,90.00,95.00,66.00,95.00,95.00,96.00,67.20,96.0,96.00,102.00,72.00,102.00,102.00,98.40,68.40,98.40,98.40
1196,93.60,61.36,93.6,93.60,98.80,64.48,98.80,98.80,99.20,64.48,99.2,99.20,105.40,68.20,105.40,105.40,101.68,65.72,101.68,101.68
1197,80.10,80.10,80.1,52.51,84.55,84.55,84.55,55.18,87.20,87.20,87.2,56.68,92.65,92.65,92.65,59.95,89.38,89.38,89.38,57.77
1198,55.80,55.80,55.8,42.16,58.90,58.90,58.90,44.02,65.60,65.60,65.6,49.20,69.70,69.70,69.70,52.48,67.24,67.24,67.24,50.84
1199,98.00,78.40,98.0,98.00,131.10,104.88,131.10,131.10,98.00,78.40,98.0,98.00,134.30,107.44,134.30,134.30,129.56,104.28,129.56,129.56

In [74]:
expected_var_mar= ad_retmodel_with_scenarios[['Ex Var Margin: A- $12000 Min and $40','Ex Var Margin: B- $12000 Min and $40','Ex Var Margin: C- $12000 Min and $40','Ex Var Margin: D- $12000 Min and $40', 'Ex Var Margin: A- $15000 Min and $40',
       'Ex Var Margin: B- $15000 Min and $40','Ex Var Margin: C- $15000 Min and $40','Ex Var Margin: D- $15000 Min and $40', 'Ex Var Margin: A- $12000 Min and $60', 'Ex Var Margin: B- $12000 Min and $60', 'Ex Var Margin: C- $12000 Min and $60',
       'Ex Var Margin: D- $12000 Min and $60','Ex Var Margin: A- $15000 Min and $60', 'Ex Var Margin: B- $15000 Min and $60','Ex Var Margin: C- $15000 Min and $60','Ex Var Margin: D- $15000 Min and $60'
       ,'Ex Var Margin: A- $15000 Min and $60 (0.18)','Ex Var Margin: B- $15000 Min and $60 (0.18)','Ex Var Margin: C- $15000 Min and $60 (0.18)','Ex Var Margin: D- $15000 Min and $60 (0.18)']]
exp_var_mar_round= expected_var_mar.round(1)
exp_var_mar_round

,Ex Var Margin: A- $12000 Min and $40,Ex Var Margin: B- $12000 Min and $40,Ex Var Margin: C- $12000 Min and $40,Ex Var Margin: D- $12000 Min and $40,Ex Var Margin: A- $15000 Min and $40,Ex Var Margin: B- $15000 Min and $40,Ex Var Margin: C- $15000 Min and $40,Ex Var Margin: D- $15000 Min and $40,Ex Var Margin: A- $12000 Min and $60,Ex Var Margin: B- $12000 Min and $60,Ex Var Margin: C- $12000 Min and $60,Ex Var Margin: D- $12000 Min and $60,Ex Var Margin: A- $15000 Min and $60,Ex Var Margin: B- $15000 Min and $60,Ex Var Margin: C- $15000 Min and $60,Ex Var Margin: D- $15000 Min and $60,Ex Var Margin: A- $15000 Min and $60 (0.18),Ex Var Margin: B- $15000 Min and $60 (0.18),Ex Var Margin: C- $15000 Min and $60 (0.18),Ex Var Margin: D- $15000 Min and $60 (0.18)
Account,,,,,,,,,,,,,,,,,,,,
1000,63.0,63.0,63.0,37.8,66.5,66.5,66.5,39.9,72.0,72.0,72.0,43.2,76.5,76.5,76.5,45.9,73.8,73.8,73.8,44.1
1001,80.0,80.0,80.0,64.0,114.0,114.0,114.0,91.2,80.0,80.0,80.0,64.0,119.0,119.0,119.0,95.2,114.8,114.8,114.8,92.4
1002,250.0,150.0,250.0,250.0,250.0,150.0,250.0,250.0,250.0,150.0,250.0,250.0,250.0,150.0,250.0,250.0,250.0,150.0,250.0,250.0
1003,98.0,78.4,98.0,98.0,131.1,104.9,131.1,131.1,98.0,78.4,98.0,98.0,134.3,107.4,134.3,134.3,129.6,104.3,129.6,129.6
1004,77.4,119.0,119.0,119.0,77.4,119.0,119.0,119.0,77.4,119.0,119.0,119.0,77.4,119.0,119.0,119.0,77.4,119.0,119.0,119.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,90.0,63.0,90.0,90.0,95.0,66.0,95.0,95.0,96.0,67.2,96.0,96.0,102.0,72.0,102.0,102.0,98.4,68.4,98.4,98.4
1196,93.6,61.4,93.6,93.6,98.8,64.5,98.8,98.8,99.2,64.5,99.2,99.2,105.4,68.2,105.4,105.4,101.7,65.7,101.7,101.7
1197,80.1,80.1,80.1,52.5,84.6,84.6,84.6,55.2,87.2,87.2,87.2,56.7,92.6,92.6,92.6,60.0,89.4,89.4,89.4,57.8
1198,55.8,55.8,55.8,42.2,58.9,58.9,58.9,44.0,65.6,65.6,65.6,49.2,69.7,69.7,69.7,52.5,67.2,67.2,67.2,50.8
1199,98.0,78.4,98.0,98.0,131.1,104.9,131.1,131.1,98.0,78.4,98.0,98.0,134.3,107.4,134.3,134.3,129.6,104.3,129.6,129.6

In [75]:
exp_var_mar_round['Total Ex Var Margin for Branch A- $12000 Min and $40'] = exp_var_mar_round['Ex Var Margin: A- $12000 Min and $40'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch B- $12000 Min and $40'] = exp_var_mar_round['Ex Var Margin: B- $12000 Min and $40'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch C- $12000 Min and $40'] = exp_var_mar_round['Ex Var Margin: C- $12000 Min and $40'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch D- $12000 Min and $40'] = exp_var_mar_round['Ex Var Margin: D- $12000 Min and $40'].sum()

exp_var_mar_round['Total Ex Var Margin for Branch A- $15000 Min and $40'] = exp_var_mar_round['Ex Var Margin: A- $15000 Min and $40'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch B- $15000 Min and $40'] = exp_var_mar_round['Ex Var Margin: B- $15000 Min and $40'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch C- $15000 Min and $40'] = exp_var_mar_round['Ex Var Margin: C- $15000 Min and $40'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch D- $15000 Min and $40'] = exp_var_mar_round['Ex Var Margin: D- $15000 Min and $40'].sum()

exp_var_mar_round['Total Ex Var Margin for Branch A- $12000 Min and $60'] = exp_var_mar_round['Ex Var Margin: A- $12000 Min and $60'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch B- $12000 Min and $60'] = exp_var_mar_round['Ex Var Margin: B- $12000 Min and $60'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch C- $12000 Min and $60'] = exp_var_mar_round['Ex Var Margin: C- $12000 Min and $60'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch D- $12000 Min and $60'] = exp_var_mar_round['Ex Var Margin: D- $12000 Min and $60'].sum()

exp_var_mar_round['Total Ex Var Margin for Branch A- $15000 Min and $60'] = exp_var_mar_round['Ex Var Margin: A- $15000 Min and $60'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch B- $15000 Min and $60'] = exp_var_mar_round['Ex Var Margin: B- $15000 Min and $60'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch C- $15000 Min and $60'] = exp_var_mar_round['Ex Var Margin: C- $15000 Min and $60'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch D- $15000 Min and $60'] = exp_var_mar_round['Ex Var Margin: D- $15000 Min and $60'].sum()

exp_var_mar_round['Total Ex Var Margin for Branch A- $15000 Min and $60 (0.18)']= exp_var_mar_round['Ex Var Margin: A- $15000 Min and $60 (0.18)'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch B- $15000 Min and $60 (0.18)']= exp_var_mar_round['Ex Var Margin: B- $15000 Min and $60 (0.18)'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch C- $15000 Min and $60 (0.18)']= exp_var_mar_round['Ex Var Margin: C- $15000 Min and $60 (0.18)'].sum()
exp_var_mar_round['Total Ex Var Margin for Branch D- $15000 Min and $60 (0.18)']= exp_var_mar_round['Ex Var Margin: D- $15000 Min and $60 (0.18)'].sum()

In [76]:
total_exp_var_mar_round= exp_var_mar_round[['Total Ex Var Margin for Branch A- $12000 Min and $40','Total Ex Var Margin for Branch B- $12000 Min and $40','Total Ex Var Margin for Branch C- $12000 Min and $40','Total Ex Var Margin for Branch D- $12000 Min and $40',
'Total Ex Var Margin for Branch A- $15000 Min and $40','Total Ex Var Margin for Branch B- $15000 Min and $40','Total Ex Var Margin for Branch C- $15000 Min and $40','Total Ex Var Margin for Branch D- $15000 Min and $40','Total Ex Var Margin for Branch A- $12000 Min and $60',
'Total Ex Var Margin for Branch B- $12000 Min and $60','Total Ex Var Margin for Branch C- $12000 Min and $60','Total Ex Var Margin for Branch D- $12000 Min and $60','Total Ex Var Margin for Branch A- $15000 Min and $60','Total Ex Var Margin for Branch B- $15000 Min and $60',
'Total Ex Var Margin for Branch C- $15000 Min and $60','Total Ex Var Margin for Branch D- $15000 Min and $60'
,'Total Ex Var Margin for Branch A- $15000 Min and $60 (0.18)','Total Ex Var Margin for Branch B- $15000 Min and $60 (0.18)','Total Ex Var Margin for Branch C- $15000 Min and $60 (0.18)','Total Ex Var Margin for Branch D- $15000 Min and $60 (0.18)']]
total_exp_var_mar_round

,Total Ex Var Margin for Branch A- $12000 Min and $40,Total Ex Var Margin for Branch B- $12000 Min and $40,Total Ex Var Margin for Branch C- $12000 Min and $40,Total Ex Var Margin for Branch D- $12000 Min and $40,Total Ex Var Margin for Branch A- $15000 Min and $40,Total Ex Var Margin for Branch B- $15000 Min and $40,Total Ex Var Margin for Branch C- $15000 Min and $40,Total Ex Var Margin for Branch D- $15000 Min and $40,Total Ex Var Margin for Branch A- $12000 Min and $60,Total Ex Var Margin for Branch B- $12000 Min and $60,Total Ex Var Margin for Branch C- $12000 Min and $60,Total Ex Var Margin for Branch D- $12000 Min and $60,Total Ex Var Margin for Branch A- $15000 Min and $60,Total Ex Var Margin for Branch B- $15000 Min and $60,Total Ex Var Margin for Branch C- $15000 Min and $60,Total Ex Var Margin for Branch D- $15000 Min and $60,Total Ex Var Margin for Branch A- $15000 Min and $60 (0.18),Total Ex Var Margin for Branch B- $15000 Min and $60 (0.18),Total Ex Var Margin for Branch C- $15000 Min and $60 (0.18),Total Ex Var Margin for Branch D- $15000 Min and $60 (0.18)
Account,,,,,,,,,,,,,,,,,,,,
1000,21270.0,20979.8,21582.5,21095.5,22772.0,22361.9,22990.4,22496.7,21915.4,21596.1,22174.7,21595.9,23659.5,23210.4,23825.6,23245.5,23244.7,22820.5,23429.9,22869.9
1001,21270.0,20979.8,21582.5,21095.5,22772.0,22361.9,22990.4,22496.7,21915.4,21596.1,22174.7,21595.9,23659.5,23210.4,23825.6,23245.5,23244.7,22820.5,23429.9,22869.9
1002,21270.0,20979.8,21582.5,21095.5,22772.0,22361.9,22990.4,22496.7,21915.4,21596.1,22174.7,21595.9,23659.5,23210.4,23825.6,23245.5,23244.7,22820.5,23429.9,22869.9
1003,21270.0,20979.8,21582.5,21095.5,22772.0,22361.9,22990.4,22496.7,21915.4,21596.1,22174.7,21595.9,23659.5,23210.4,23825.6,23245.5,23244.7,22820.5,23429.9,22869.9
1004,21270.0,20979.8,21582.5,21095.5,22772.0,22361.9,22990.4,22496.7,21915.4,21596.1,22174.7,21595.9,23659.5,23210.4,23825.6,23245.5,23244.7,22820.5,23429.9,22869.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,21270.0,20979.8,21582.5,21095.5,22772.0,22361.9,22990.4,22496.7,21915.4,21596.1,22174.7,21595.9,23659.5,23210.4,23825.6,23245.5,23244.7,22820.5,23429.9,22869.9
1196,21270.0,20979.8,21582.5,21095.5,22772.0,22361.9,22990.4,22496.7,21915.4,21596.1,22174.7,21595.9,23659.5,23210.4,23825.6,23245.5,23244.7,22820.5,23429.9,22869.9
1197,21270.0,20979.8,21582.5,21095.5,22772.0,22361.9,22990.4,22496.7,21915.4,21596.1,22174.7,21595.9,23659.5,23210.4,23825.6,23245.5,23244.7,22820.5,23429.9,22869.9
1198,21270.0,20979.8,21582.5,21095.5,22772.0,22361.9,22990.4,22496.7,21915.4,21596.1,22174.7,21595.9,23659.5,23210.4,23825.6,23245.5,23244.7,22820.5,23429.9,22869.9
1199,21270.0,20979.8,21582.5,21095.5,22772.0,22361.9,22990.4,22496.7,21915.4,21596.1,22174.7,21595.9,23659.5,23210.4,23825.6,23245.5,23244.7,22820.5,23429.9,22869.9

In [77]:
exp_var_mar_round['Ex Gross Margin: A- $12000 Min and $40']= exp_var_mar_round['Ex Var Margin: A- $12000 Min and $40'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: B- $12000 Min and $40']= exp_var_mar_round['Ex Var Margin: B- $12000 Min and $40'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: C- $12000 Min and $40']= exp_var_mar_round['Ex Var Margin: C- $12000 Min and $40'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: D- $12000 Min and $40']= exp_var_mar_round['Ex Var Margin: D- $12000 Min and $40'].sum() - 9000

exp_var_mar_round['Ex Gross Margin: A- $15000 Min and $40']= exp_var_mar_round['Ex Var Margin: A- $15000 Min and $40'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: B- $15000 Min and $40']= exp_var_mar_round['Ex Var Margin: B- $15000 Min and $40'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: C- $15000 Min and $40']= exp_var_mar_round['Ex Var Margin: C- $15000 Min and $40'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: D- $15000 Min and $40']= exp_var_mar_round['Ex Var Margin: D- $15000 Min and $40'].sum() - 9000

exp_var_mar_round['Ex Gross Margin: A- $12000 Min and $60']= exp_var_mar_round['Ex Var Margin: A- $12000 Min and $60'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: B- $12000 Min and $60']= exp_var_mar_round['Ex Var Margin: B- $12000 Min and $60'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: C- $12000 Min and $60']= exp_var_mar_round['Ex Var Margin: C- $12000 Min and $60'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: D- $12000 Min and $60']= exp_var_mar_round['Ex Var Margin: D- $12000 Min and $60'].sum() - 9000

exp_var_mar_round['Ex Gross Margin: A- $15000 Min and $60']= exp_var_mar_round['Ex Var Margin: A- $15000 Min and $60'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: B- $15000 Min and $60']= exp_var_mar_round['Ex Var Margin: B- $15000 Min and $60'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: C- $15000 Min and $60']= exp_var_mar_round['Ex Var Margin: C- $15000 Min and $60'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: D- $15000 Min and $60']= exp_var_mar_round['Ex Var Margin: D- $15000 Min and $60'].sum() - 9000

exp_var_mar_round['Ex Gross Margin: A- $15000 Min and $60 (0.18)']= exp_var_mar_round['Ex Var Margin: A- $15000 Min and $60 (0.18)'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: B- $15000 Min and $60 (0.18)']= exp_var_mar_round['Ex Var Margin: B- $15000 Min and $60 (0.18)'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: C- $15000 Min and $60 (0.18)']= exp_var_mar_round['Ex Var Margin: C- $15000 Min and $60 (0.18)'].sum() - 9000
exp_var_mar_round['Ex Gross Margin: D- $15000 Min and $60 (0.18)']= exp_var_mar_round['Ex Var Margin: D- $15000 Min and $60 (0.18)'].sum() - 9000

In [78]:
exp_gross_margin=exp_var_mar_round[['Ex Gross Margin: A- $12000 Min and $40','Ex Gross Margin: B- $12000 Min and $40','Ex Gross Margin: C- $12000 Min and $40','Ex Gross Margin: D- $12000 Min and $40', 'Ex Gross Margin: A- $15000 Min and $40',
       'Ex Gross Margin: B- $15000 Min and $40','Ex Gross Margin: C- $15000 Min and $40','Ex Gross Margin: D- $15000 Min and $40','Ex Gross Margin: A- $12000 Min and $60','Ex Gross Margin: B- $12000 Min and $60','Ex Gross Margin: C- $12000 Min and $60',
       'Ex Gross Margin: D- $12000 Min and $60','Ex Gross Margin: A- $15000 Min and $60','Ex Gross Margin: B- $15000 Min and $60','Ex Gross Margin: C- $15000 Min and $60','Ex Gross Margin: D- $15000 Min and $60'
       ,'Ex Gross Margin: A- $15000 Min and $60 (0.18)','Ex Gross Margin: B- $15000 Min and $60 (0.18)','Ex Gross Margin: C- $15000 Min and $60 (0.18)','Ex Gross Margin: D- $15000 Min and $60 (0.18)']]
exp_gross_margin

,Ex Gross Margin: A- $12000 Min and $40,Ex Gross Margin: B- $12000 Min and $40,Ex Gross Margin: C- $12000 Min and $40,Ex Gross Margin: D- $12000 Min and $40,Ex Gross Margin: A- $15000 Min and $40,Ex Gross Margin: B- $15000 Min and $40,Ex Gross Margin: C- $15000 Min and $40,Ex Gross Margin: D- $15000 Min and $40,Ex Gross Margin: A- $12000 Min and $60,Ex Gross Margin: B- $12000 Min and $60,Ex Gross Margin: C- $12000 Min and $60,Ex Gross Margin: D- $12000 Min and $60,Ex Gross Margin: A- $15000 Min and $60,Ex Gross Margin: B- $15000 Min and $60,Ex Gross Margin: C- $15000 Min and $60,Ex Gross Margin: D- $15000 Min and $60,Ex Gross Margin: A- $15000 Min and $60 (0.18),Ex Gross Margin: B- $15000 Min and $60 (0.18),Ex Gross Margin: C- $15000 Min and $60 (0.18),Ex Gross Margin: D- $15000 Min and $60 (0.18)
Account,,,,,,,,,,,,,,,,,,,,
1000,12270.0,11979.8,12582.5,12095.5,13772.0,13361.9,13990.4,13496.7,12915.4,12596.1,13174.7,12595.9,14659.5,14210.4,14825.6,14245.5,14244.7,13820.5,14429.9,13869.9
1001,12270.0,11979.8,12582.5,12095.5,13772.0,13361.9,13990.4,13496.7,12915.4,12596.1,13174.7,12595.9,14659.5,14210.4,14825.6,14245.5,14244.7,13820.5,14429.9,13869.9
1002,12270.0,11979.8,12582.5,12095.5,13772.0,13361.9,13990.4,13496.7,12915.4,12596.1,13174.7,12595.9,14659.5,14210.4,14825.6,14245.5,14244.7,13820.5,14429.9,13869.9
1003,12270.0,11979.8,12582.5,12095.5,13772.0,13361.9,13990.4,13496.7,12915.4,12596.1,13174.7,12595.9,14659.5,14210.4,14825.6,14245.5,14244.7,13820.5,14429.9,13869.9
1004,12270.0,11979.8,12582.5,12095.5,13772.0,13361.9,13990.4,13496.7,12915.4,12596.1,13174.7,12595.9,14659.5,14210.4,14825.6,14245.5,14244.7,13820.5,14429.9,13869.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,12270.0,11979.8,12582.5,12095.5,13772.0,13361.9,13990.4,13496.7,12915.4,12596.1,13174.7,12595.9,14659.5,14210.4,14825.6,14245.5,14244.7,13820.5,14429.9,13869.9
1196,12270.0,11979.8,12582.5,12095.5,13772.0,13361.9,13990.4,13496.7,12915.4,12596.1,13174.7,12595.9,14659.5,14210.4,14825.6,14245.5,14244.7,13820.5,14429.9,13869.9
1197,12270.0,11979.8,12582.5,12095.5,13772.0,13361.9,13990.4,13496.7,12915.4,12596.1,13174.7,12595.9,14659.5,14210.4,14825.6,14245.5,14244.7,13820.5,14429.9,13869.9
1198,12270.0,11979.8,12582.5,12095.5,13772.0,13361.9,13990.4,13496.7,12915.4,12596.1,13174.7,12595.9,14659.5,14210.4,14825.6,14245.5,14244.7,13820.5,14429.9,13869.9
1199,12270.0,11979.8,12582.5,12095.5,13772.0,13361.9,13990.4,13496.7,12915.4,12596.1,13174.7,12595.9,14659.5,14210.4,14825.6,14245.5,14244.7,13820.5,14429.9,13869.9

In [79]:
#Validate 1
print('Branch C with a $15000 Minimum and $60 annual fee has the highest expected gross margin of $14,825')

Branch C with a $15000 Minimum and $60 annual fee has the highest expected gross margin of $14,825

In [80]:
#Validate 2
print('Branch C with a $15000 Minimum and $60 annual (0.18) fee has an expected gross margin of $14,430')

Branch C with a $15000 Minimum and $60 annual (0.18) fee has an expected gross margin of $14,430

In [81]:
ad_retmodel_with_scenarios.to_excel('final without attribution.xlsx')

In [82]:
print(ad_retmodel_with_scenarios.columns)
print(exp_var_mar_round.columns)

Index(['Dist. to Closest Branch (mi)', 'Avg Account Balance ($)_x',
       'Years as Customer', 'Distance to Branch A (mi)',
       'Distance to Branch B (mi)', 'Distance to Branch C (mi)',
       'Distance to Branch D (mi)', 'Closest Branch',
       'Inc. Distance to 2nd Closest Branch (mi)', '2nd Closest Branch',
       'Branch A Ret. Prob._x', 'Branch B Ret. Prob._x',
       'Branch C Ret. Prob._x', 'Branch D Ret. Prob._x', '12_bool', '15_bool',
       '$12,000 and $40 prob', '$15,000 and $40 prob', '$12,000 and $60 prob',
       '$15,000 and $60 prob', '$15,000 and $60 prob (0.18)',
       'A- $12000 Min and $40 Fee Retention Prob.',
       'A- $15000 Min and $40 Fee Retention Prob.',
       'A- $12000 Min and $60 Fee Retention Prob.',
       'A- $15000 Min and $60 Fee Retention Prob.',
       'A- $15000 Min and $60 Fee(0.18) Retention Prob.',
       'B- $12000 Min and $40 Fee Retention Prob.',
       'B- $15000 Min and $40 Fee Retention Prob.',
       'B- $12000 Min and $60 Fee Retention Prob.',
       'B- $15000 Min and $60 Fee Retention Prob.',
       'B- $15000 Min and $60 Fee(0.18) Retention Prob.',
       'C- $12000 Min and $40 Fee Retention Prob.',
       'C- $15000 Min and $40 Fee Retention Prob.',
       'C- $12000 Min and $60 Fee Retention Prob.',
       'C- $15000 Min and $60 Fee Retention Prob.',
       'C- $15000 Min and $60 Fee(0.18) Retention Prob.',
       'D- $12000 Min and $40 Fee Retention Prob.',
       'D- $15000 Min and $40 Fee Retention Prob.',
       'D- $12000 Min and $60 Fee Retention Prob.',
       'D- $15000 Min and $60 Fee Retention Prob.',
       'D- $15000 Min and $60 Fee(0.18) Retention Prob.',
       'Net Interest Income', 'Scenario 1(12000x40)', 'Scenario 2(15000x40)',
       'Scenario 3(12000x60)', 'Scenario 4(15000x60)',
       'Scenario 1(12000x40) Variable Margin',
       'Scenario 2(15000x40) Variable Margin',
       'Scenario 3(12000x60) Variable Margin',
       'Scenario 4(15000x60) Variable Margin',
       'Ex Var Margin: A- $12000 Min and $40',
       'Ex Var Margin: B- $12000 Min and $40',
       'Ex Var Margin: C- $12000 Min and $40',
       'Ex Var Margin: D- $12000 Min and $40',
       'Ex Var Margin: A- $15000 Min and $40',
       'Ex Var Margin: B- $15000 Min and $40',
       'Ex Var Margin: C- $15000 Min and $40',
       'Ex Var Margin: D- $15000 Min and $40',
       'Ex Var Margin: A- $12000 Min and $60',
       'Ex Var Margin: B- $12000 Min and $60',
       'Ex Var Margin: C- $12000 Min and $60',
       'Ex Var Margin: D- $12000 Min and $60',
       'Ex Var Margin: A- $15000 Min and $60',
       'Ex Var Margin: B- $15000 Min and $60',
       'Ex Var Margin: C- $15000 Min and $60',
       'Ex Var Margin: D- $15000 Min and $60',
       'Ex Var Margin: A- $15000 Min and $60 (0.18)',
       'Ex Var Margin: B- $15000 Min and $60 (0.18)',
       'Ex Var Margin: C- $15000 Min and $60 (0.18)',
       'Ex Var Margin: D- $15000 Min and $60 (0.18)'],
      dtype='object')
Index(['Ex Var Margin: A- $12000 Min and $40',
       'Ex Var Margin: B- $12000 Min and $40',
       'Ex Var Margin: C- $12000 Min and $40',
       'Ex Var Margin: D- $12000 Min and $40',
       'Ex Var Margin: A- $15000 Min and $40',
       'Ex Var Margin: B- $15000 Min and $40',
       'Ex Var Margin: C- $15000 Min and $40',
       'Ex Var Margin: D- $15000 Min and $40',
       'Ex Var Margin: A- $12000 Min and $60',
       'Ex Var Margin: B- $12000 Min and $60',
       'Ex Var Margin: C- $12000 Min and $60',
       'Ex Var Margin: D- $12000 Min and $60',
       'Ex Var Margin: A- $15000 Min and $60',
       'Ex Var Margin: B- $15000 Min and $60',
       'Ex Var Margin: C- $15000 Min and $60',
       'Ex Var Margin: D- $15000 Min and $60',
       'Ex Var Margin: A- $15000 Min and $60 (0.18)',
       'Ex Var Margin: B- $15000 Min and $60 (0.18)',
       'Ex Var Margin: C- $15000 Min and $60 (0.18)',
       'Ex Var Margin: D- $15000 Min and $60 (0.18)',
       'Total Ex Var Margin for Branch A- $12000 Min and $40',
       'Total Ex Var Margin for Branch B- $12000 Min and $40',
       'Total Ex Var Margin for Branch C- $12000 Min and $40',
       'Total Ex Var Margin for Branch D- $12000 Min and $40',
       'Total Ex Var Margin for Branch A- $15000 Min and $40',
       'Total Ex Var Margin for Branch B- $15000 Min and $40',
       'Total Ex Var Margin for Branch C- $15000 Min and $40',
       'Total Ex Var Margin for Branch D- $15000 Min and $40',
       'Total Ex Var Margin for Branch A- $12000 Min and $60',
       'Total Ex Var Margin for Branch B- $12000 Min and $60',
       'Total Ex Var Margin for Branch C- $12000 Min and $60',
       'Total Ex Var Margin for Branch D- $12000 Min and $60',
       'Total Ex Var Margin for Branch A- $15000 Min and $60',
       'Total Ex Var Margin for Branch B- $15000 Min and $60',
       'Total Ex Var Margin for Branch C- $15000 Min and $60',
       'Total Ex Var Margin for Branch D- $15000 Min and $60',
       'Total Ex Var Margin for Branch A- $15000 Min and $60 (0.18)',
       'Total Ex Var Margin for Branch B- $15000 Min and $60 (0.18)',
       'Total Ex Var Margin for Branch C- $15000 Min and $60 (0.18)',
       'Total Ex Var Margin for Branch D- $15000 Min and $60 (0.18)',
       'Ex Gross Margin: A- $12000 Min and $40',
       'Ex Gross Margin: B- $12000 Min and $40',
       'Ex Gross Margin: C- $12000 Min and $40',
       'Ex Gross Margin: D- $12000 Min and $40',
       'Ex Gross Margin: A- $15000 Min and $40',
       'Ex Gross Margin: B- $15000 Min and $40',
       'Ex Gross Margin: C- $15000 Min and $40',
       'Ex Gross Margin: D- $15000 Min and $40',
       'Ex Gross Margin: A- $12000 Min and $60',
       'Ex Gross Margin: B- $12000 Min and $60',
       'Ex Gross Margin: C- $12000 Min and $60',
       'Ex Gross Margin: D- $12000 Min and $60',
       'Ex Gross Margin: A- $15000 Min and $60',
       'Ex Gross Margin: B- $15000 Min and $60',
       'Ex Gross Margin: C- $15000 Min and $60',
       'Ex Gross Margin: D- $15000 Min and $60',
       'Ex Gross Margin: A- $15000 Min and $60 (0.18)',
       'Ex Gross Margin: B- $15000 Min and $60 (0.18)',
       'Ex Gross Margin: C- $15000 Min and $60 (0.18)',
       'Ex Gross Margin: D- $15000 Min and $60 (0.18)'],
      dtype='object')